<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title></title>
	<!-- <link rel="stylesheet" href="./libelement-ui/element-#0E2B4A/src/index.css"> -->
	<link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../../lib/vue-treeselect/vue-treeselect.min.css">
	<link rel="stylesheet" href="./../../../common/css/main.css">
</head>
<style>
	.drapwrap {
		padding-top: 10px;
	}

	.list-group-item {
		margin-bottom: -1px;
		/* border: 1px solid #999; */
		background: #ecf5ff;
		margin: 5px 0;
		padding: 6px 10px;
		cursor: move;
		overflow: hidden;
	}

	.list-group-item>.badge {
		float: right;
	}

	.badge {
		display: inline-block;
		min-width: 10px;
		padding: 3px 7px;
		font-size: 12px;
		font-weight: bold;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		background-color: #777;
		border-radius: 10px;
	}
</style>

<body>
	<div id="app" v-cloak v-loading="loading">
		<jas-dialog-wrapper>
			<draggable v-model="myArray" class="drapwrap" :animation="150">
				<transition-group type="transition">
					<div class="list-group-item" v-for="element in myArray" :key="element.oid">
						{{element[displayField]}}
						<span class="badge">{{element[rowIndexField]}}</span>
					</div>
				</transition-group>
			</draggable>
			<div slot="footer">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" type="primary" @click="saveNode()">确 定</el-button>
			</div>
		</jas-dialog-wrapper>
	</div>
</body>

<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../lib/vue-draggable/sortable.min.js"></script>
<script src="./../../../lib/vue-draggable-new/vuedraggable.umd.min.js"></script>

<script src="./../../../common/components/jas-components.js"></script>
<script src="./../components/components.js"></script>

<script src="./../../../common/js/jas-tools.js"></script>

<script>

</script>

<script>
	var vm = new Vue({
		el: '#app',
		data: function () {
			return {
				loading: false,
				myArray: [],
				oid: '',
				modelId: '',
				displayField: '',
				rowIndexField: '',
				dragOptions: {

					animation: 200,
					group: "description",
					disabled: false,
					ghostClass: "ghost"
				}
			}
		},
		watch: {},
		created: function () {
			var param = this.myparams = window.jasTools.base.getParamsInUrl(location.href);
			this.businessId = param.businessId || '';
			this.processType = param.processType;
			this.modelId = param.modelId;
			this.displayField = param.displayField;
			this.rowIndexField = param.rowIndexField;			
		},
		mounted: function () {
			var that = this;
			that.requestNodeDetail();
		},
		methods: {
			requestNodeDetail: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/commonOrder/getList.do?modelId=" + this.modelId;
				jasTools.ajax.post(url, this.myparams, function (data) {
					that.myArray = data.rows;
					if (that.myArray.length == 0) {
						window.top.Vue.prototype.$message({
							message: '没有可以排序的内容',
							type: 'warning'
						});
						// that.cancel()
					}
				});
			},
			cancel: function (param) {
				(top.jasTools || jasTools).dialog.close(param);
			},
			saveNode: function () {
				var that = this;
				if (that.myArray.length == 0) return that.cancel();;
				var url = jasTools.base.rootPath + "/commonOrder/sort.do";
				that.loading = true;
				jasTools.ajax.post(url, {
					// parentOid: this.parentOid,
					modelId: this.modelId,
					childrenOrderList: that.myArray.map(function (item, index) {
						return {
							oid: item.oid,
							order: index + 1,
						}
					})
				}, function (data) {
					// that.myArray = data.rows;
					window.top.Vue.prototype.$message({
						message: '保存成功',
						type: 'success'
					});
					that.loading = false;
					that.cancel(1);
				});
			},
		}
	});
</script>

</html>