<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="utf-8" xml:lang="utf-8">
    <head>
        <title>MapViewerDemo</title>    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
        <script type="text/javascript" src="js/jquery-1.8.min.js"></script> 
        <script type="text/javascript"> 
        	 var pictureMarkerSymbol=
			 {
				"type" : "esriPMS",
				"url" : "assets/images/i_police.png",
				"imageData" : "",
				"contentType" : "image/png",
				"width" : 21,
				"height" : 21,
				"angle" : 0,
				"xoffset" : 0,
				"yoffset" : 0
			 };
			
			 var simpleMarkerSymbol=
			 {
				"type" : "esriSMS",
				"style" : "esriSMSCircle",//< esriSMSCircle | esriSMSCross | esriSMSDiamond | esriSMSSquare | esriSMSTriangle | esriSMSX >
				"color" : 0xFF0000, //color:[R,G,B,alpha]或者16进制，如[255,0,0,255]或者0xffffff(不能加引号)
				"size" : 16,
				"angle" : 0,
				"xoffset" : 0,
				"yoffset" : 0
			 };
			
			 var simpleLineSymbol={	
				"type" : "esriSLS",
				"style" : "solid",//< none | solid | dot | dash | dashdot | dashdotdot >
				"color" : [0,255,0,255],//color:[R,G,B,alpha]或者16进制，如[255,0,0,255]或者0xffffff(不能加引号)
				"width" : 3
			 };
			
			 var simpleFillSymbol={
				"type" : "esriSFS",
				"style" : "solid", //< solid | backwarddiagonal | cross | diagonalcross | forwarddiagonal | horizontal | vertical>
				"color" : [0,0,255,255],
				"alpha":1,   
				"outline" :{
				    //<simpleLineSymbol>if outline has been specified
				     "type": "esriSLS",
				     "style": "solid",//< none | solid | dot | dash | dashdot | dashdotdot >
				     "color": [0,0,255,255],
				     "width": 4
				 }
			 };
			 
		      var defaultGeometry;
             function defaultJSFunction(obj)
             {
           		  alert(obj);
             	//obj=encodeURI(obj);
             	//obj=decodeURI(obj);
             	//defaultGeometry=obj;
             	//alert(obj)
             }
			 
        	//获取map对象    
        	var map = top.map; 

        //////////////////// Samples /////////////////////////////
        	 
        	////地图居中显示      
            function centerAt(x,y){
            	map.centerAt(x,y);
            }
            
            /**
			 * 方法描述：刷新图层
			 */
            function refreshLayer(){
            	//根据id刷新图层
            	map.refreshLayerByID('geo');
            	//根据图层名称刷新图层
             	map.refreshLayerByName('勘探点');
             }
            /**
			 * 方法描述：图层是否可见开关
			 */
             function btnLayerVisibleSwitch(){
             	map.layerVisibleSwitch("yanMap_04",false);
             }
             
             /**
			 * 方法描述：查看图层是否可见
			 */
             function btnLayerVisibility(){
             	map.getLayerVisible("yanMap_04",funcallback);
             }
             function funcallback(visible){
             	alert(visible);
             }
             
             /**
			 * 方法描述：渲染点要素层
			 */
             function setPointLayerRendererSample(){
                var markerSymbolObject = new Object();
                
                markerSymbolObject.style = "square";
                markerSymbolObject.size = 16.0;
                markerSymbolObject.color = 0xFF0000;
                markerSymbolObject.alpha = 1.0;
                markerSymbolObject.xoffset = 0.0;
                markerSymbolObject.yoffset = 0.0;
                markerSymbolObject.angle = 0.0;
                
                var outlineSymbolObject = new Object();
                outlineSymbolObject.style = "solid";
                outlineSymbolObject.color = 0x0000FF;
                outlineSymbolObject.alpha = 1.0;
                outlineSymbolObject.width = 3.0;
                
                markerSymbolObject.outlineSymbolObject = outlineSymbolObject;
                
            	map.setPointLayerRenderer("gxKcd", markerSymbolObject);
            	map.refreshLayerByName("勘探点");
            }
             /**
			 * 方法描述：图片渲染点要素层
			 */
            function setPointLayerPictureRendererSample()
            {
            	var pictureMarkerSymbolObject = new Object();
            	pictureMarkerSymbolObject.source = "assets/images/i_police.png";
            	pictureMarkerSymbolObject.height = 20;
            	pictureMarkerSymbolObject.width = 20;
            	
            	map.setPointLayerPictureRenderer("gxKcd", pictureMarkerSymbolObject);
            	map.refreshLayerByName("勘探点");
            }
             /**
			 * 方法描述：flash渲染点要素层
			 */
            function setPointLayerFlashRendererSample()
            {
            	var pictureMarkerSymbolObject = new Object();
            	pictureMarkerSymbolObject.source = "assets/images/Red_glow.swf";
            	pictureMarkerSymbolObject.height = 20;
            	pictureMarkerSymbolObject.width = 20;
            	
            	map.setPointLayerPictureRenderer("gxKcd", pictureMarkerSymbolObject);
            	map.refreshLayerByName("勘探点");
            }
             /**
			 * 方法描述：渲染线要素层
			 */
            function setLineLayerRendererSample()
            {
            	var lineSymbolObject = new Object();
            	
            	lineSymbolObject.style = "dash";	
            	lineSymbolObject.color = 0xEE82EE;
            	lineSymbolObject.alpha = 1;
            	lineSymbolObject.width = 5;
            	
            	map.setLineLayerRenderer("gx", lineSymbolObject);
            	map.refreshLayerByName("管线");
            }
             
             /**
			 * 方法描述：渲染面要素层
			 */
             function setPolygonLayerRendererSample(){
                var fillSymbolObject = new Object();
                
                fillSymbolObject.style = "solid";
                fillSymbolObject.color = 0xFF0000;
                fillSymbolObject.alpha = 1.0;
                
                var outlineSymbolObject = new Object();
                outlineSymbolObject.style = "solid";
                outlineSymbolObject.color = 0x0000FF;
                outlineSymbolObject.alpha = 1.0;
                outlineSymbolObject.width = 3.0;
                
                fillSymbolObject.outline = outlineSymbolObject;
            	map.setPolygonLayerRenderer("gxp", fillSymbolObject);
            	map.refreshLayerByName("勘探面");
            }
             function animateArrowLineInTimeSample()
            {
            	var polylineString = "103,35,104,36,108,42";
            	
            	//var arrowLineSymbolObject = new Object();
            	//arrowLineSymbolObject.style = "solid";
            	//arrowLineSymbolObject.color = 0xEE82EE;
            	//arrowLineSymbolObject.alpha = 0.7;
            	//arrowLineSymbolObject.width = 2;
            	//arrowLineSymbolObject.arrowLength = 15;
            	//arrowLineSymbolObject.arrowWidth = 5;
            	
            	
            	var arrowLineSymbolObject = new Object();
				arrowLineSymbolObject.style = "solid";
				arrowLineSymbolObject.alpha = 0.7;
				arrowLineSymbolObject.width = 1;
				arrowLineSymbolObject.arrowLength = 10;
				arrowLineSymbolObject.arrowWidth = 1;
				arrowLineSymbolObject.color = 0xFF0000;
            	var polyline="113.51129833333333,22.502491666666668,113.50853333333333,22.501078333333332";
            	
            	var polyline2="438489.08291525743,2557275.576483189,485637.83291525743,2582993.076483189,508974.08291525743,2568229.326483189,517546.58291525743,2556799.326483189";
            	
            	map.animateArrowLineInTime(polylineString, arrowLineSymbolObject, 3000);
            	//alert(555);
            	//map.animateArrowLineInTime(polyline2, arrowLineSymbolObject, 20000);
            }
            
            function animateArrowLineInSpeedSample()
            {
            	var polylineString = "103,35,108,42";
            	
            	var arrowLineSymbolObject = new Object();
            	arrowLineSymbolObject.style = "solid";
            	arrowLineSymbolObject.color = 0xEE82EE;
            	arrowLineSymbolObject.alpha = 0.7;
            	arrowLineSymbolObject.width = 2;
            	arrowLineSymbolObject.arrowLength = 15;
            	arrowLineSymbolObject.arrowWidth = 5;
            	
            	map.animateArrowLineInSpeed(polylineString, arrowLineSymbolObject, 1, 1000);
            }
              function animatePolylineInTimeSample()
            {
            	// 线
            	var polylineString = "103,35,108,42,109,34";
            	
            	// 符号
            	var lineSymbolObject = new Object();
            	
            	lineSymbolObject.style = "solid";	
            	lineSymbolObject.color = 0xEE82EE;
            	lineSymbolObject.alpha = 1;
            	lineSymbolObject.width = 5;
            	
            	map.animatePolylineInTime(polylineString, lineSymbolObject, 5000);
            }
            
            function animatePolylineInSpeedSample()
            {
            	// 线
            	var polylineString = "103,35,108,42,109,34";
            	
            	// 符号
            	var lineSymbolObject = new Object();
            	
            	lineSymbolObject.style = "solid";	
            	lineSymbolObject.color = 0xEE82EE;
            	lineSymbolObject.alpha = 1;
            	lineSymbolObject.width = 5;
            	
            	map.animatePolylineInSpeed(polylineString, lineSymbolObject, 1, 1000);
            }
             /**
			 * 方法描述：添加点
			 */
             function addPointsSample()
            {
            	// 示例1
            	// 点
            	var pointsString = "103,35";           	
            	// 符号
            	var markerSymbolObject = new Object();
                
                markerSymbolObject.style = "square";
                markerSymbolObject.size = 16.0;
                markerSymbolObject.color = 0xFF0000;
                markerSymbolObject.alpha = 1.0;
                markerSymbolObject.xoffset = 0.0;
                markerSymbolObject.yoffset = 0.0;
                markerSymbolObject.angle = 0.0;
                
                var outlineSymbolObject = new Object();
                outlineSymbolObject.style = "solid";
                outlineSymbolObject.color = 0x0000FF;
                outlineSymbolObject.alpha = 1.0;
                outlineSymbolObject.width = 3.0;
                
                markerSymbolObject.outlineSymbolObject = outlineSymbolObject;
                map.addPointGraphics(pointsString, markerSymbolObject);
                
                // 示例2
                var id="point1";
             	var geometryObject={"x" : 111,"y" : 35};
             	var multipoint={"points":[[102.7917,35.31085]]};
             	var tipMode="click";
             	var attribute={"attr1":"valueTest"};
             	var symbolObject=pictureMarkerSymbol;
             	var tipClass="IFrame";
             	var tipWidth=200;
             	var tipHeight=250;
             	var tipUrl="demo/IFrameTipDemo.htm";
             //	map.addGraphic(id,multipoint,tipMode,attribute,null,tipClass,tipWidth,tipHeight,tipUrl,false);
             	
             	 id="point2";
             	 geometryObject={"x":103.2,"y":35};
             	 tipMode="hover";
             	 attribute={"title":"title1","simpleHtml":"valueTest2大大大大大大大大大大大大大大大大大"};
             	 symbolObject=simpleMarkerSymbol;
             	 tipClass="SimpleHtml";
             	 tipWidth=100;
             	 tipHeight=50;
             	 tipUrl="demo/IFrameTipDemo.htm";
             	 map.addGraphic(id,geometryObject,tipMode,attribute,symbolObject,tipClass,tipWidth,tipHeight,tipUrl,true,"customLayer",6,true,2000,4);    
            }
               /**
			 * 方法描述：添加点图片
			 */
             function addPictureSample()
            {
            	// 点
            	var pointsString = "103,35";
            	
            	// 符号
            	var pictureMarkerSymbolObject = new Object();
            	pictureMarkerSymbolObject.source = "assets/images/i_police.png";
            	pictureMarkerSymbolObject.height = 20;
            	pictureMarkerSymbolObject.width = 20;
                
                // 添加点图片
                map.addPictureGraphics(pointsString, pictureMarkerSymbolObject);
            }
            
             /**
			 * 方法描述：添加线
			 */
            function addPolylineSample()
            {
            	// 示例1
            	var polylineString = "103,35,109,40";
            	var lineSymbolObject = new Object(); // 符号
            	
            	lineSymbolObject.style = "solid";	
            	lineSymbolObject.color = 0xEE82EE;
            	lineSymbolObject.alpha = 1;
            	lineSymbolObject.width = 5;
                map.addPolylineGraphics(polylineString, lineSymbolObject);
                
                // 示例2
	            var polyline={"paths":[[[103,35],[108,42]]],"spatialReference":{"wkid":2383}};           	 
	         	var points={"points":[[106.86496777090974,35.65614379561569],[116.63170409591818,35.806897256915455]]};
	         	id="polyLineDemo";             	 
	         	tipMode="hover";
	            attribute={"attr3":"valueTest4","simpleHtml":"This is a TestLine"};
	            symbolObject=simpleLineSymbol;
	         	tipClass="None";
	         	map.addGraphic(id,polyline,tipMode,attribute,symbolObject,tipClass,0,0,"",true,"customLayer",6,true,2000,4);
            }
            
             /**
			 * 方法描述：添加面
			 */
            function addPolygonSample()
            {
            	// 示例1
            	var polygonString = "103,35,108,42,109,34,103,35"; // 面
            	var fillSymbolObject = new Object(); // 符号
            	
            	fillSymbolObject.style = "solid";	
            	fillSymbolObject.color = 0xEE82EE;
            	fillSymbolObject.alpha = 1;
                map.addPolygonGraphics(polygonString, fillSymbolObject);
                
                // 示例2
                var polygon={"rings":[[[103,35],[103,23],[102,34],[103,35]]],"spatialReference":{"wkid":2383}};
            	id="polygonDemo";
             	geometryObject=polygon;
             	tipMode="None";
             	attribute={"attr2":"valueTest2"};
             	symbolObject=simpleFillSymbol;             	
             	map.addGraphic(id,geometryObject,tipMode,attribute,symbolObject,"None",0,0,"",true,"customLayer",6,true,2000,4);
            }
             /**
			 * 方法描述：添加圆
			 */
            function addCircle(){
	        	 //centerIconUrl:String="assets/extension/flag_1.png",xoffset:Number=9,yoffset:Number=8
	        	 var center={"x":105,"y":29};
	        	 var radius=900;
	        	 var pictureMarkerSymbol=
				 {
					"type" : "esriPMS",
					"url" : "assets/extension/flag_1.png",
					"imageData" : "",
					"contentType" : "image/png",
					"width" : 0,
					"height" :0,
					"angle" : 0,
					"xoffset" : 9,
					"yoffset" : 8
				 };
	        	 map.addCircle(center,radius,pictureMarkerSymbol,null,null,true);
	         }
              /**
             *方法描述：添加线并回调
             */
              function btEsriAddPolylineGraphic1(){
              
            	 var polyline={"paths":[[[103,35],[108,42]]],"spatialReference":{"wkid":2383}};           	 
             	 id="polyLineDemo";             	 
             	 map.addGraphic(id,polyline);
             	  //再获取图形
             	 map.getGraphic("polyLineDemo",defaultJSFunction);  
             }
             /**
             *方法描述：添加多个图形
             */
             function btnPointsLocate(){
            	var id="point1";
             	var geometryObject={"x" : 103,"y" : 35};
             	var tipMode="click";
             	var attribute={"title":"Demo1","simpleHtml":"Demo2<br/>hello,flex","attributes":"and so on"};
             	var symbolObject=pictureMarkerSymbol;   
             	var tipClass="simplehtml";
             	var tipWidth=500;
             	var tipHeight=250;
             	var tipUrl="demo/IFrameTipDemo.htm";             	
             	
             	var id1="point2";
             	var geometryObject1={"x" : 103.1,"y" : 35.1};
             	var tipMode1="doubleclick";
             	var attribute1={"title":"Demo2","simpleHtml":"Demo2<br/>hello,flex","attributes":"and so on"};
             	var symbolObject1=simpleMarkerSymbol;
             	var tipClass1="simplehtml";
             	var tipWidth1=500;
             	var tipHeight1=250;
             	var tipUrl1="demo/IFrameTipDemo.htm";
             	
             	var id2="point3";
             	var geometryObject2={"x" : 103.2,"y" : 35.3};
             	var tipMode2="hover";
             	var attribute2={"title":"Demo1","simpleHtml":"Demo2<br/>hello,flex","attributes":"and so on"};
             	var symbolObject2=pictureMarkerSymbol;
             	var tipClass2="simplehtml";
             	var tipWidth2=100;
             	var tipHeight2=250;
             	var tipUrl2="demo/IFrameTipDemo.htm";
             	//简单应用
             	//map.addGraphics([id,id1],[geometryObject,geometryObject1,geometryObject2]);
             	//高级应用
             	//map.addGraphics([id,id1],[geometryObject,geometryObject1,geometryObject2],[tipMode,tipMode1,tipMode2],[attribute,attribute1,attribute2],[symbolObject,symbolObject1,symbolObject2],[tipClass,tipClass1,tipClass2],[tipWidth],[tipHeight],[tipUrl,tipUrl1]);
             	//map.addGraphics([id1],[geometryObject1],[tipMode1],[attribute1],[symbolObject1],[tipClass1],[tipWidth],[tipHeight],[tipUrl1]);
             	map.addGraphics([id,id1,id2],[geometryObject,geometryObject1,geometryObject2],[tipMode,tipMode1,tipMode2],[attribute,attribute1,attribute2],
	             	[symbolObject,symbolObject1,symbolObject2],[tipClass,tipClass1,tipClass2],[tipWidth,tipWidth1,tipWidth2],
	             	[tipHeight,tipHeight1,tipHeight2],[tipUrl1],true,"HightlightLayer",true,2000,6);
             }
             /**
             *方法描述：添加附件
             */
  			 function addAttachment(){
             
                 id="12345678765678";
             	 geometryObject={"x":103,"y":35};
             	 tipMode="hover";
             	 attribute={"title":"title1","simpleHtml":"valueTest2大大大大大大大大大大大大大大大大大",name:"附件一",type:"attachment"};
             	 symbolObject=pictureMarkerSymbol;
             	 tipClass="SimpleHtml";
             	 tipWidth=100;2
             	 tipHeight=50;
             	 tipUrl="demo/IFrameTipDemo.htm";
             	// map.addGraphic(id,geometryObject,tipMode,attribute,symbolObject,tipClass,tipWidth,tipHeight,tipUrl,true,"customLayer");
             	// map.addGraphic("123222332",geometryObject,tipMode,{"title":"title2","simpleHtml":"valueTest大",name:"附件二",type:"attachment"},symbolObject,tipClass,tipWidth,tipHeight,tipUrl,true,"customLayer");
             	 
             	 map.addGraphic("test01", {"x":47,"y":34}, 'click', {"title" : "查看标绘附件","type":"attachment"},
					symbolObject, 'IFrame', 500, 100, tipUrl);
             }
             /**
             *方法描述：添加点及信息窗
             */
            function addPointInfoWindowSample()
            {
            	map.clearGraphicsLayer("HightlightLayer");
            	
            	map.addPointInfoWindow("point1",103,35, null, "hover", "标题1", "Hello World 1", 200, 200);  //悬浮信息窗
            	
            	var pictureMarkerSymbolObject = new Object();
            	pictureMarkerSymbolObject.source = "assets/images/i_police.png";
            	pictureMarkerSymbolObject.height = 20;
            	pictureMarkerSymbolObject.width = 20;
            	
            	map.addPointInfoWindow("point2",108,42, pictureMarkerSymbolObject, "click", "标题2", "Hello");   //单击信息窗
            } 
             /**
             *方法描述：添加多边形及信息窗
             */
             function addPolygonGraphicInfoWindowSample()
            {
            	// 面
            	var polygonString = "103,35,108,42,109,34,103,35";
            	
            	// 符号
            	var fillSymbolObject = new Object();
            	
            	fillSymbolObject.style = "solid";	
            	fillSymbolObject.color = 0xEE82EE;
            	fillSymbolObject.alpha = 1;
                
                // 清空
                map.clearGraphicsLayer("HightlightLayer");
                var polygonString1 = "100,35,105,42,108,34,100,35";
                map.addPolygonGraphicInfoWindow(polygonString, fillSymbolObject, "click", "我的标题", "Hello World", 100, 80);
                map.addPolygonGraphicInfoWindow(polygonString1, fillSymbolObject, "hover", "", "<b>Hello World 1</b>", 300, 200);  
            }
             /**
             *方法描述：鼠标绘制图形
             */
			 function btnDraw(graphicID,strType)
             {
             	map.drawGraphic(graphicID,strType,drawGraphicCallback); 
             }
               
            function drawGraphicCallback(obj)
            {
            	alert(obj);
            	alert("draw success");
            }
              /**
			  * 方法描述：拖拽矩形框
			  */
             function btnDrawExtent(){
             	map.drawExtent(mapZoomInCallback);
             }
             function mapZoomInCallback(obj){
             	obj=JSON.parse(obj);
             	map.mapDownload(obj.xmin,obj.ymin,obj.xmax,obj.ymax);
             }
             /**
			 * 方法描述：编辑线<将被丢弃，请使用editGraphic>
			 */
            function btEditPolyline()
             {
             	var polylineJson = {"paths":[[[103,35],[108,42]]],"spatialReference":{"wkid":2383}};
             	//map.editPolyline("polyline1",polylineJson);
             	map.editGraphic("polyline1",polylineJson);
             }  
              /**
			 * 方法描述：编辑面<将被丢弃，请使用editGraphic>
			 */  
           	function btEditPolygon()
             {
             	var polygon={"rings":[[[103,35],[108,42],[109,34],[103,35]]],"spatialReference":{"wkid":2383}};
             	//map.editPolygon("ploygon1",polygon);
             	map.editGraphic("ploygon1",polygon);
             } 
             /**
			 * 方法描述：获取编辑线
			 */ 
             function btSavePolyline()
             {
             	map.getEditGraphic(editGrachicCallBack);
             } 
               /**
			 * 方法描述：获取编辑面
			 */ 
             function btSavePolygon()
             {
             	map.getEditGraphic(editGrachicCallBack);
             }
                      
             function editGrachicCallBack(obj)
             {
             	alert(obj);
            	alert("edit graphic success");
             }
              /**
			 * 方法描述：绘制闪烁点
			 */ 
            function flashPointsSample()
            {
            	// 示例1
            	var pointsString = "103,35"; // 点
            	var markerSymbolObject = new Object(); // 符号
                markerSymbolObject.style = "square";
                markerSymbolObject.size = 16.0;
                markerSymbolObject.color = 0xFF0000;
                markerSymbolObject.alpha = 1.0;
                markerSymbolObject.xoffset = 0.0;
                markerSymbolObject.yoffset = 0.0;
                markerSymbolObject.angle = 0.0;
            	map.flashPoints(pointsString, 500, 12, markerSymbolObject);
            	
            	// 示例2
            	var pointsGeometry = {"x" : 105,"y" : 30};
            	var markerSymbolObject = simpleMarkerSymbol;
            	map.flashGraphic("simplePoint",pointsGeometry, markerSymbolObject,500, 12,null,null,null,null,null,null,false,true);
            	
            }
             /**
			 * 方法描述：绘制闪烁线
			 */
            function flashPolylineSample()
            {
            	//示例1
            	var polylineString = "103,35,108,42";  // 线
            	var lineSymbolObject = new Object(); // 符号
            	lineSymbolObject.style = "solid";	
            	lineSymbolObject.color = 0xEE82EE;
            	lineSymbolObject.alpha = 1;
            	lineSymbolObject.width = 5;
            	map.flashPolyline(polylineString, 750, 10, lineSymbolObject);
            	
            	//示例2
            	var polyline={"paths":[[[101,30],[103,42]]],"spatialReference":{"wkid":2383}};           	 
             	symbolObject=simpleLineSymbol;
            	map.flashGraphic("simpleLine",polyline, symbolObject,500, 1,null,null,null,null,null,null,true,true,0,"HightlightLayer",1000,6);
            }
             /**
			 * 方法描述：绘制闪烁线
			 */
            function flashPolygonSample()
            {
           		 //示例1
            	var polygonString = "103,35,108,42,109,34,103,35";  // 面
            	var fillSymbolObject = new Object();  // 符号
            	fillSymbolObject.style = "solid";	
            	fillSymbolObject.color = 0xEE82EE;
            	fillSymbolObject.alpha = 1;
            	map.flashPolygon(polygonString, 750, 10, fillSymbolObject);
            	
            	//示例2
            	var geometryObject={"rings":[[[101,30],[103,42],[105,34],[101,30]]],"spatialReference":{"wkid":2383}};
             	symbolObject=simpleFillSymbol;       
                map.flashGraphic("simplePolygon",geometryObject, symbolObject,500, 12,null,null,null,null,null,null,true,true);  
            }
              /**
			 * 方法描述：闪烁并提示
			 */
            function flashGraphic()
             {
         		var geometryObject={"x" : 103,"y" : 35};
		     	var tipMode1="hover";
		     	var attribute1={"attr2":"valueTest2"};
		     	var symbolObject1=pictureMarkerSymbol;
		     	var tipClass1="IFrame";
		     	var tipWidth1=200;
		     	var tipHeight1=250;
		     	var tipUrl1="demo/IFrameTipDemo.htm";
		     	map.flashGraphic("graphic1",geometryObject,pictureMarkerSymbol,750,10,"click",attribute1,"IFrame",200,200,tipUrl1);		     	
             }
             /**
			 * 方法描述：闪烁多个图形
			 */
             function flashGraphicsSample(){
             	//闪烁多个图形
             	var pointsGeometry = {"x" : 100,"y" : 35};
            	var pointSymbol = simpleMarkerSymbol;
            	var polylineGeometry={"paths":[[[103,35],[108,42]]],"spatialReference":{"wkid":2383}};           	 
             	var polylineSymbol=simpleLineSymbol;
             	var polygonGeometry={"rings":[[[104,32],[107,42],[129,34],[104,32]]],"spatialReference":{"wkid":2383}};
             	var polygonSymbol=simpleFillSymbol; 
             	var ids = ["simplePoint","simpleLine","simplePolygon"];
             	var geometrys = [pointsGeometry,polylineGeometry,polygonGeometry];
             	var symbols = [pointSymbol,polylineSymbol,polygonSymbol];
            	map.flashGraphics(ids,geometrys, symbols,500, 12,null,null,null,null,null,null,true,true);
             }
              /**
			 * 方法描述：获取图形
			 */
             function getGraphic()
             {
             	//先添加一个测试图形
             	var polygon={"rings":[[[103,35],[108,42],[109,34],[103,35]]],"spatialReference":{"wkid":2383}};
            	 
            	 id="myRouteModify";
             	 geometryObject=polygon;
             	 tipMode="None";             	 
             	 symbolObject=simpleFillSymbol;             	
             	 map.addGraphic(id,geometryObject,tipMode,null,symbolObject);
             	 
             	 //再获取图形
             	 map.getGraphic("myRouteModify",defaultJSFunction);   
             }
              /**
			 * 方法描述：清除图形
			 */
             function btnRemoveGrahpics()
             {
            	 map.removeGraphics("*","customLayer");
             }
             /**
			  * 方法描述：绘制管线
			  * 
			  */
             function drawRoute()
             {
            	map.drawRoute("myRouteModify");
        	}
        	
        	/**
			  * 方法描述：获取管线
			  * 
			  */
        	function getRoute()
             {
     		 	map.getRoute("myRouteModify",getRouteCallback);
             }
             
             /**
			  * 方法描述：编辑管线
			  * 
			  */
        	function editRoute()
             {
				var routeObject={
					geometry:{"paths":[[[105.08210641,37.69518995],[120.08210641,43.1774681]]]},
					attributes:[
						{
							objectId:2,
							name:"桩号2",							
							x:105.08210641,
							y:37.69518995,
							//z:0,
							m:0
						},
						{
							objectId:3,
							name:"桩号3",							
							x:120.08210641,
							y:43.1774681,
							//z:0,
							m:0
						}
					]
				}
             	map.editRoute("myRouteModify",routeObject,editRouteCallback); 
             }
             
             function editRouteCallback(obj){
             	alert(obj);             
         	}
              
             function drawRoute1()
             {
             	//先绘制管道选线路由
             //	map.drawRoute("myRouteModify",defaultJSFunction);
            	map.drawRoute("myRouteModify");
             	//再编辑管道选线路由
             	var polyline={"paths":[[[88.95762588,43.1774681],[103.08210641,37.69518995]]]};
             	var routeObject={
					geometry:polyline,
					attributes:[
						{
							objectId:1,
							name:"桩号1",							
							x:88.95762588,
							y:43.1774681,
						//	z:0,
							m:0
						},
						{
							objectId:4,
							name:"桩号4",							
							x:103.08210641,
							y:37.69518995,
						//	z:0,
							m:0
						}
					]
				}
				var polyline1={"paths":[[[105.08210641,37.69518995],[120.08210641,43.1774681]]]};
				var routeObject1={
					geometry:polyline1,
					attributes:[
						{
							objectId:2,
							name:"桩号2",							
							x:105.08210641,
							y:37.69518995,
							//z:0,
							m:0
						},
						{
							objectId:3,
							name:"桩号3",							
							x:120.08210641,
							y:43.1774681,
							//z:0,
							m:0
						}
					]
				}
             	
             	map.editRoute("myRouteModify",routeObject,defaultJSFunction);  
            //map.editRoute("myRouteModify",routeObject);
             //	map.locateRoute("myRouteModify",routeObject,defaultJSFunction);               	
            //	map.locateRoute("myRouteModify1",routeObject1,defaultJSFunction);
             }
             
             
             function getRouteCallback(obj)
             {
             	defaultGeometry=obj;
             	obj=decodeURI(obj);
             	alert(obj)
             }
             function getRoute1()
             {
             	if(defaultGeometry!=null&&defaultGeometry.attributes!=null)
             	{
             		//map.editRoute("myRouteModify",defaultGeometry,defaultJSFunction);  
             	}
             	else
             	{
             		map.getRoute("myRouteModify",getRouteCallback);
             	}
             	
             	//var geometryObject={"x" : 105.08210641,"y" : 37.69518995};
             	//var radius=5; 
             	//map.addCircle(geometryObject,radius);        	
            	           	 
            	//attribute={"title":"title1","simpleHtml":"valueTest2大大大大大大大大大大大大大大大大大"};             	 
             	          	
             	//map.addGraphic("g1",geometryObject,"click",attribute,null,"SimpleHtml");
            	
             }
               /**
			  * 方法描述：几何图形缩放
			  * 
			  */
              function zoomGeometrys(){
            	 var polyline={"paths":[[[102,33],[103.5,34.5]]],"spatialReference":{"wkid":2383}};
             	 var polygon={"rings":[[[103,35],[108,42],[109,34],[103,35]]],"spatialReference":{"wkid":2383}};
             	 map.zoomGeometrys([polyline,polygon]);
             }
              /**
			  * 方法描述：将地图定位到指定范围
			  */
             function btnZoomExtent(){
             	map.zoomExtent(46,35,50,59.855,zoomExtentCallback);
             }
             function zoomExtentCallback(){
             	alert("zoomExtentCallback");
             }
              /**
			  * 方法描述：获取地图级数
			  */
              function btnGetMapLevel(){
            	 map.getMapLevel(getMapLevelCallback);
             }
             
             function getMapLevelCallback(level){
            	 alert(level);            	 
             }
             /**
			  * 方法描述：获取地图最大级数
			  */
              function btnGetMapMaxLevel(){
            	 map.getMapMaxLevel(getMapMaxLevelCallBack);
             }
             function getMapMaxLevelCallBack(obj)
            {
            	alert(obj);
            }
             /**
			  * 方法描述：获取所选点坐标
			  **/
            function btnGetXY() {
            	map.getXY(getXYCallBack);
            }
            
            function getXYCallBack(obj)
            {
            	var str = obj.split(",");
            	var geometryObject={"x" : str[0],"y" : str[1]};
            	map.addGraphic("point",geometryObject);
            	alert(obj);
            }
             /**
			  * 方法描述：获取地图中心点坐标
			  */
             function btnGetMapCenter(){
             	map.getMapCenter(getCoorditeCallBack);
             }
             
             /**
			  * 方法描述：获取地图范围坐标
			  */
             function btnGetMapExtent(){
             	map.getMapExtent(getCoorditeCallBack);  
             }
               /**
             *方法描述：获取圆坐标串
             */
               function getCircle()
             {
            	 var center={"x":734109.673,"y":3506901.672};
            	 var radius=100;
            	 var pointSize = 5;
            	 map.getCircle(center,radius,pointSize,getCoorditeCallBack);
             }
             /**
             *方法描述：获取几何中心点
             */
             function btnUtils()
             {
             	var polygon={"rings":[[[103,35],[108,42],[109,34],[103,35]]],"spatialReference":{"wkid":2383}};
             	map.getCenterLocation(polygon,getCoorditeCallBack);
             }
             /**
             *方法描述：获取图形矩形范围
             */  
             function getGeometrysExtent(){
         		var geometryObject={"x" : 103,"y" : 35};
         		var geometryObject1={"x" : 103.1,"y" : 35.1};
         		var geometryObject2={"x" : 103.2,"y" : 35.3};
         		var polyline={"paths":[[[88.95762588,43.1774681],[103.08210641,37.69518995]]]};
         		var polyline2={"paths":[[[89.95762588,43.1774681],[104.08210641,37.69518995]]]};
         		map.getGeometrysExtent([polyline,geometryObject1],getCoorditeCallBack);
             }
            function getCoorditeCallBack(obj)
            {
            	alert(obj);
            }
             /**
             *方法描述：加载标绘图形
             */
              function loadPlotGraphics(){
	         	var obj={line:{geometryType:"esriGeometryPolyline",features:[{geometry:{spatialReference:{wkid:4610},paths:[[[106.52938672995593,38.68717727969963],[112.33527158418181,33.16682774617338]]]},attributes:{STYLE:"solid",COLOR:16711680,WIDTH:3,COMMENT_:"",INFORMATION:"",ALPHA:1,NAME:""}}]}};
	         	map.loadPlotGraphics("oo1",obj,"标绘一",callback);
	         }
	           function callback(obj){
	         	alert(obj);
	         }
			  /**
             *方法描述：设置用户图层权限
             */
             function btnSetVerifiedLayer()
             {
            	 var layIds="gxKcd,geo";
            	 map.setVerifiedLayer(layIds);
             }
             /**
             *方法描述：添加地图加载事件监听
             */
             function btnAddMapLoadedEventListener(){
             	map.addMapLoadedEventListener(mapLoadedCallback);
             }
             function mapLoadedCallback(){
             	alert("加载完成");
             }
              /**
             *方法描述：添加地图缩放事件监听
             */
             function addZoomEventListener(){
            	 map.addZoomEventListener(zoomEventCallback);
             }
             
             function zoomEventCallback(obj){
            	 alert(obj);
             }
             
             /**
			  * 方法描述：监听地图范围事件
			  */
             function addExtentEventListener(){
             	map.addExtentEventListener(extentEventCallback);
             }
             function extentEventCallback(obj){
             	alert(obj);
             }
               /**
			  * 方法描述：显示信息窗
			  */
               function showInfoWindowSample()
            {
            	var simpleHtml="hello,flex1,hello,flex1,hello,flex1,hello,flex1,hello,flex1,hello,flex1,<br/>hello,flex2<br/>hello,flex3<br/>hello,flex4<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>hello,flex5<br/>";
            	map.showInfoWindow(103,35, "我的标题", simpleHtml,200,300);
            }
              /**
			  * 方法描述：下载地图
			  */
             function btnMapDownload(){
             	map.mapDownload(51,9,168,56);
             }
               /**
			  * 方法描述：根据UTM投影法获取投影坐标
			  */
             function btnUTMCoordinate(){
             	map.getUTMCoordinate(44.886703,32.546813,UTMCallback);
             }
             function UTMCallback(obj){
             	alert(obj);
             }
              /**
			  * 方法描述：创建菜单
			  */
             function createMenuList(){
             	//定义菜单基本属性
			 		//label:菜单显示名称
			 		//name:标识菜单项，必须唯一
			 		//iconName:图标，图片存放于assets/icon/下
				var data = [
			 		{"label":"菜单一","name":"menu1","iconName":"menu1.png"},   
			 		{"label":"菜单二","name":"menu2","iconName":"menu2.png"},
			 		{"label":"菜单三","name":"menu3","iconName":"menu3.png"}];
			 	var attribute = new Object();
			 	attribute.data=data;
			 	attribute.width=150;  //菜单栏宽度
			 	attribute.height=200; //菜单栏高度
			 	//定义菜单样式
			 	var style = new Object();
			 	style.selectionColor = "#3DDDDB"; //选中菜单颜色
			 	style.focusColor = "#50BBC8";   //焦点菜单颜色
			 	style.backgroundColor ="#eeeeee" ; //菜单背景颜色
				style.color = "#212DC9";   //字体颜色，默认0xffffff
			 	style.fontSize = 12; //字体大小，默认18
			 	style.fontFamily = "黑体"; //字体样式，默认“微软雅黑”
			 	style.fontWeight = "bold"; //字体粗细，，默认normal（取值bold||normal）
			 	attribute.style = style;
			 	map.createMenuList("mentTest",150,30,attribute,true,"list",menuItemClickEvent);
             }
             /**
			* 方法描述：菜单列表单击监听回调函数
			* @param data 所选菜单名，由name属性指定
			*/
				
			function menuItemClickEvent(data){
				//编写业务处理方法
				if(data=="menu2"){
					var data = [
				             		{"label":"子菜单一","name":"menu21","iconName":"menu1.png"},
				             		{"label":"子菜单二","name":"menu22","iconName":"menu2.png"}
				              ];
				 	var attribute = new Object();
				 	attribute.data=data;
				 	attribute.width=200;
				 	attribute.height=100;
				 	var style = new Object();
				 	style.color = "#ff0000";   //字体颜色
				 	style.backgroundColor ="#cccccc" ; //菜单背景颜色
				 	style.selectionColor = "#3DDDDB"; //选中菜单颜色
				 	style.focusColor = "#50BBC8";   //焦点菜单颜色
				 	style.fontSize = 12; //字体大小，默认18
			 		style.fontFamily = "黑体"; //字体样式，默认“微软雅黑”
			 		style.fontWeight = "bold"; //字体粗细，，默认normal（取值bold||normal）
				 	attribute.style = style;
				 	map.createMenuList("secondMenu",220,40,attribute,false,"tree",menuItemClickEvent);
			 	}
			 	if(data=="menu21"){
			 		map.removeMenuList("secondMenu");
			 	}
			}
              /**
			  * 方法描述：移除菜单
			  */
             function removeMenuList(){
             	map.removeMenuList("secondMenu");
             }
              /**
			  * 方法描述：停气分析
			  */
              function btnMA()
             {
             	//map.startGeoNetworkAnalysis(445774.483,2532707.492);
             	
             	//带回调参考
             	map.startGeoNetworkAnalysis(527598.9548368829,2526379.8068563133,30000,"both",btStartNAWithMapWithCallback);
             } 
             
              /**
			  * 方法描述：从地图取点启动停气分析
			  */
             function btStartNAWithMap()
             {
             	map.startGeoNetworkAnalysisWithMap();
             } 
              /**
			  * 方法描述：取点停气分析带回调
			  */
             function btStartNAWithMapWithCallback()
             {
            	 map.startGeoNetworkAnalysisWithMap(geoNACallback);
             }
             
             function geoNACallback(attr)
             {
            	 alert(attr);
             }
              /**
			  * 方法描述：设置地名信息
			  */
              function setPlaceName(){
             	var obj={
             		country:"中国",
             		province:"河北省"
             	};
             	map.loadPlaceName(obj);
             }
            
              /**
			  * 方法描述：加载方案名称
			  */
   			function btnLoadSchemeName(){
             	map.loadSchemeName("name1");
             }
             
   			function querySample()
            {
            	$.get("http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer/1/query", {objectids:"1", f:"pjson"}, function(data) { alert("字段名称：" + data.displayFieldName);
				}, "jsonp");
            }
            
            function queryPostSample()
            {
            	$.post("http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Specialty/ESRI_StateCityHighway_USA/MapServer/1/query", {objectids:"1", f:"pjson"}, function(data) { alert("字段名称：" + data.displayFieldName);
				}, "jsonp");
            }
            
            function queryDateSample()
            {
            	$.get("http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/Earthquakes/Since_1970/MapServer/0/query", {where:"Date_ <= date '2011-09-01 09:09:09'", f:"pjson"}, function(data) { alert("查询结果共 " + data.features.length + " 条");
				}, "jsonp");
            }
            /**
			  * 方法描述：坐标转换
			  */
             function projectSample()
            {
            	// 参考：http://localhost/ArcGIS/SDK/REST/project.html
            	$.get('http://sampleserver1.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer/project?inSR=4326&outSR=102113&geometries={"geometryType":"esriGeometryPoint","geometries":[{"x":-117,"y":34}]}&f=pjson',function(data){alert(data.geometryType);}, "jsonp");
            }
           
              /**
			 * 
			 * 方法描述：加载大量图层性能测试
			 *
			 */
             function btnPerformanceTest(){
             	//未加载URL
 				//map.loadLayersPerformanceTest("test");
 				//加载URL
 				map.loadLayersPerformanceTest("test","http://192.168.10.58/MapCacheService/%E5%B1%85%E6%B0%91%E5%9C%B0/");       
 				//加载URL，并且图层显示级数为1和2
 				//map.loadLayersPerformanceTest("test","http://192.168.10.58/MapCacheService/%E5%B1%85%E6%B0%91%E5%9C%B0/","1,2");     
             }
        </script>
    </head>
    <body bgcolor="#9999CC">
       <div>
       		<!-- 地图位置操作类接口示例 -->
        	<input type="button" id="uttonCenterAt" onclick="centerAt(105.323,32.892)" value="居中" />
        	<input type="button" id="buttonPanUp" onclick="map.panUp()" value="向上平移" />
        	<input type="button" id="buttonPanDown" onclick="map.panDown()" value="向下平移" />
        	<input type="button" id="buttonPanLeft" onclick="map.panLeft()" value="向左平移" />
        	<input type="button" id="buttonPanRight" onclick="map.panRight()" value="向右平移" />
        	
        	<!-- 图层操作类接口示例 -->
        	<input type="button" id="buttonRefreshLayer" onclick="refreshLayer()" value="刷新图层" />    <!-- 根据图层ID、图层名刷新图层 -->
        	<input type="button" id="buttonRemoveAllLayers" onclick="map.removeAllLayers()" value="删除所有图层" />
        	<input type="button" id="btnLayerVisibleSwitch" onclick="btnLayerVisibleSwitch()" value="图层显示开关" />
        	<input type="button" id="btnLayerVisibility" onclick="btnLayerVisibility()" value="查看图层可见性" />
        	<input type="button" id="buttonSetPointLayerRenderer" onclick="setPointLayerRendererSample()" value="渲染点层" />
        	<input type="button" id="buttonSetPointLayerPictureRenderer" onclick="setPointLayerPictureRendererSample()" value="图片渲染点层" />
        	<input type="button" id="buttonSetPointLayerFlashRenderer" onclick="setPointLayerFlashRendererSample()" value="Flash渲染点层" />
        	<input type="button" id="buttonSetLineLayerRenderer" onclick="setLineLayerRendererSample()" value="渲染线层" />
        	<input type="button" id="buttonSetPolygonLayerRenderer" onclick="setPolygonLayerRendererSample()" value="渲染面层" />
        	
        	<!-- 图层绘制类接口示例 -->
        	<input type="button" id="buttonAnimateArrowLineInTime" onclick="animateArrowLineInTimeSample();" value="按时间动画箭头线" />
        	<input type="button" id="buttonAnimateArrowLineInSpeed" onclick="animateArrowLineInSpeedSample();" value="按速度动画箭头线" />
        	<input type="button" id="buttonAnimatePolylineInTime" onclick="animatePolylineInTimeSample()" value="按时间动画线" />
        	<input type="button" id="buttonAnimatePolylineInSpeed" onclick="animatePolylineInSpeedSample()" value="按速度动画线" />
        	<input type="button" id="buttonHighlightPoints" onclick="addPointsSample()" value="添加点" />
        	<input type="button" id="buttonHighlightPoints" onclick="addPictureSample()" value="添加图片" />
        	<input type="button" id="buttonHighlightPolyline" onclick="addPolylineSample()" value="添加线" />
        	<input type="button" id="buttonHighlightPolygon" onclick="addPolygonSample()" value="添加面" />
        	<input type="button" id="btnAddCircle" onclick="addCircle()" value="添加圆" />
        	<input type="button" id="btnEsriAddPolylineGraphic1" onclick="btEsriAddPolylineGraphic1()" value="定位线并回调" />   
        	<input type="button" id="btnPointsLocate" onclick="btnPointsLocate()" value="添加多个图形" /> 
        	<input type="button" id="addAttachment" onclick="addAttachment()" value="添加附件" />
        	<input type="button" id="buttonaddPointHoverInfoWindowSample" onclick="addPointInfoWindowSample()" value="添加点及信息窗" />
        	<input type="button" id="buttonAddPolygonGraphicClickInfoWindow" onclick="addPolygonGraphicInfoWindowSample();" value="添加多边形及信息窗" />
        	<input type="button" id="btnDrawPoint" onclick="btnDraw('drawpoint','mappoint')" value="画点" />
        	<input type="button" id="btnDrawPolyline" onclick="btnDraw('drawpolyline','polyline')" value="画线" />
        	<input type="button" id="btnDrawPolyline" onclick="btnDraw('drawpolygon','polygon')" value="画面" />
    		<input type="button" id="btnDrawRect" onclick="btnDraw('drawextent','extent')" value="画矩形" />
        	<input type="button" id="btnDrawCircle" onclick="btnDraw('circle','circle')" value="画圆" />
        	<input type="button" id="btnMapPrint" onclick="btnDrawExtent()" value="拖拽矩形框" />
        	<input type="button" id="btEditPolyline" onclick="btEditPolyline()" value="编辑线" />
        	<input type="button" id="btSavePolyline" onclick="btSavePolyline()" value="保存线" />
        	<input type="button" id="btEditPolygon" onclick="btEditPolygon()" value="编辑面" />
        	<input type="button" id="btSavePolygon" onclick="btSavePolygon()" value="保存面" />
        	<input type="button" id="buttonFlashPoint" onclick="flashPointsSample()" value="闪烁点" />
        	<input type="button" id="buttonFlashPolyline" onclick="flashPolylineSample()" value="闪烁线" />
        	<input type="button" id="buttonFlashPolygon" onclick="flashPolygonSample()" value="闪烁面" />
        	<input type="button" id="flashGraphicsSample" onclick="flashGraphicsSample()" value="闪烁(多图形)" />
        	<input type="button" id="btnFlashGraphic" onclick="flashGraphic()" value="闪烁并提示" />
        	<input type="button" id="btnGetGraphic" onclick="getGraphic()" value="获取图形" />
        	<input type="button" id="buttonClearAllGraphics" onclick="map.clearAllGraphics()" value="清除所有图形" />
        	<input type="button" id="btnRemoveGrahpics" onclick="btnRemoveGrahpics()" value="清除图形" />
        	<input type="button" id="btnDrawRoute" onclick="drawRoute()" value="绘制管线" />
        	<input type="button" id="btnGetRoute" onclick="getRoute()" value="获取管线" />
        	<input type="button" id="btnEditRoute" onclick="editRoute()" value="编辑管线" />
        	<input type="button" id="btnRoute" onclick="drawRoute1()" value="选线与改线" />
        	<input type="button" id="btnget" onclick="getRoute1()" value="获取选线" />
        	
        	<!-- 地图缩放类接口示例 -->
        	<input type="button" id="buttonSetLevel" onclick="map.setLevel(5);" value="设置级别" />
        	<input type="button" id="buttonLevelUp" onclick="map.levelUp();" value="提升级别" />
        	<input type="button" id="buttonLevelDown" onclick="map.levelDown();" value="降低级别" />
        	<input type="button" id="buttonZoom" onclick="map.zoomAt(1,109,35);" value="地图缩放" /> 
        	<input type="button" id="buttonZoomOut" onclick="map.zoomIn();" value="放大" />
        	<input type="button" id="buttonZoomIn" onclick="map.zoomOut();" value="缩小" />
        	<input type="button" id="btnZoomGeometrys" onclick="zoomGeometrys()" value="几何图形缩放" />
        	<input type="button" id="btnZoomExtent" onclick="btnZoomExtent()" value="范围定位" />	
        	<input type="button" id="btnGetMapLevel" onclick="btnGetMapLevel()" value="获取地图级数" />
        	<input type="button" id="btnGetMapMaxLevel" onclick="btnGetMapMaxLevel()" value="获取地图最大级数" />  
        	
    		<!-- 地图坐标类接口示例 -->
        	<input type="button" id="btnGetXY" onclick="btnGetXY()" value="获取地图坐标" />
        	<input type="button" id="btnLayerVisibility" onclick="btnGetMapCenter()" value="获取中心点坐标" />
        	<input type="button" id="btnLayerVisibility" onclick="btnGetMapExtent()" value="获取范围坐标" />
        	<input type="button" id="removeMenuList" onclick="getCircle()" value="获取圆坐标" />
        	<input type="button" id="btnUtils" onclick="btnUtils()" value="获取几何中心点" />
        	<input type="button" id="getGeometrysExtent" onclick="getGeometrysExtent()" value="获取图形范围" />
        	
        	<!-- 标绘操作类接口示例 -->
        	<input type="button" id="btnPlot" onclick="map.openAndClosePlotToolbar()" value="标绘开关" />
        	<input type="button" id="btnLoad" onclick="loadPlotGraphics()" value="加载地图标绘" />
        	
        	<!-- 地图权限操作类接口示例 -->
        	<input type="button" id="btnSetVerifiedLayer" onclick="btnSetVerifiedLayer()" value="设置图层树" />
        	
        	<!-- 地图监听类接口示例 -->
	    	<input type="button" id="btnAddMapLoaded" onclick="btnAddMapLoadedEventListener()" value="添加加载地图事件监听" />
        	<input type="button" id="btnRemoveMapLoaded" onclick="map.removeMapLoadedEventListener()" value="移除加载地图事件监听" />
        	<input type="button" id="btnAddLevelEventListener" onclick="addZoomEventListener()" value="添加地图缩放事件" />
        	<input type="button" id="btnRemoveZoomEventListener" onclick="map.removeZoomEventListener()" value="移除地图缩放事件" />
        	<input type="button" id="addExtentEventListener" onclick="addExtentEventListener()" value="添加地图范围事件" />
        	<input type="button" id="btnRemoveExtentEventListener" onclick="map.removeExtentEventListener()" value="移除地图范围事件" />
        	
        	<!-- 地图信息窗操作类接口示例 -->
        	<input type="button" id="buttonShowInfoWindow" onclick="showInfoWindowSample();" value="显示信息窗" />
        	
        	<!-- 工具操作类接口示例 -->
    		<input type="button" id="btnMapPrint" onclick="btnMapDownload()" value="地图下载" />
        	<input type="button" id="buttonPrintMap" onclick="map.printMap('主标题','副标题')" value="打印地图" />
        	<input type="button" id="btnUTMCoordinate" onclick="btnUTMCoordinate()" value="UTM坐标投影" />
    		<input type="button" id="createMenuList" onclick="createMenuList()" value="创建菜单" />
        	<input type="button" id="removeMenuList" onclick="removeMenuList()" value="移除菜单" />
        	
        	<!-- Geoserver操作类接口示例 -->
        	<input type="button" id="getGeometryAttributeByPolygon" onclick="getGeometryAttributeByPolygon()" value="geoserver面查询" />
        	<input type="button" id="getGeometryAttributeById" onclick="getGeometryAttributeById()" value="geoserver属性查询" />
        	
        	<!-- 其他操作类接口示例 -->
        	<input type="button" id="btMA" onclick="btnMA()" value="停气分析" />
        	<input type="button" id="btnStartNAWithMap" onclick="btStartNAWithMap()" value="取点停气分析" />  
        	<input type="button" id="btnStartNAWithMapWithCallback" onclick="btStartNAWithMapWithCallback()" value="取点停气分析带回调" />
      		<input type="button" id="btnPlaceName" onclick="setPlaceName()" value="设置地名信息" />
       		<input type="button" id="btnLoadSchemeName" onclick="btnLoadSchemeName()" value="加载方案名称" />
        	<input type="button" id="buttonQuery" onclick="querySample()" value="后台查询" />
        	<input type="button" id="buttonQueryPost" onclick="queryPostSample()" value="后台查询（Post）" />
        	<input type="button" id="buttonQueryDate" onclick="queryDateSample()" value="日期查询" />
        	<input type="button" id="buttonProject" onclick="projectSample()" value="坐标转换" />
        	
        	<!--<input type="button" id="btnPerformanceTest" onclick="btnPerformanceTest()" value="性能测试" />-->
        </div>        
   </body>
</html>
