<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>待办工作监控</title>
	<link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../../common/css/main.css">
	<style>
		.searchWrapper {
			overflow: unset !important;
		}
		.vue-treeselect__control {
			height: 34px;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<jas-list-wrapper ref="mylist">
			<div slot="search">
				<el-form v-show="!isClosed" class="jas-search-for-list" :model="form" label-width="150px">
					<el-row>
						<el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="6">
							<el-form-item label="流程实例ID" prop="proInstId" style="margin-bottom: 15px ">
								<el-input v-model="form.proInstId" :placeholder="'请输入流程实例ID'" size="small" clearable>
								</el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="6">
							<el-form-item label="业务数据ID" prop="businessKey" style="margin-bottom: 15px ">
								<el-input v-model="form.businessKey" :placeholder="'请输入业务数据ID'" size="small" clearable>
								</el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="6">
							<el-form-item label="流程名称" prop="processKey" style="margin-bottom: 15px ">
								<el-select v-model="form.processKey" filterable placeholder="请选择流程名称" size="small">
									<el-option v-for="item in proNameData" :key="item.processKey"
										:label="item['processName-Key']" :value="item.processKey">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="6">
							<el-form-item label="开始时间" prop="startTime" style="margin-bottom: 15px ">
								<el-date-picker v-model="form.startTimeBegin" type="datetime" placeholder="选择日期时间"
									size="small" style="width: 200px;"> </el-date-picker> -
								<el-date-picker v-model="form.startTimeEnd" type="datetime" placeholder="选择日期时间"
									size="small" style="width: 200px;"> </el-date-picker>
							</el-form-item>
						</el-col>				
						<el-col :xs="24" :sm="24" :md="12" :lg="16" :xl="18">
							<el-form-item style="float:right;margin-bottom: 0px;">
								<el-button size="small" @click="requestList(1)">重置</el-button>
								<el-button size="small" type="primary" @click="requestList(2)">查询</el-button>
							</el-form-item>
						</el-col>
					</el-row>
				</el-form>
			</div>
			<div slot="list" class="jas-flex-box is-vertical is-grown">
				<div style="padding: 15px 0;">
					<span class="fr">
						<el-tooltip class="item" content="刷新" placement="top">
							<el-button size="small" icon="el-icon-refresh" @click="requestList"></el-button>
						</el-tooltip>
						<el-tooltip v-show="isClosed" class="item" content="展开搜索" placement="top">
							<el-button size="small" icon="el-icon-arrow-down" @click="toggleSearch"></el-button>
						</el-tooltip>
						<el-tooltip v-show="!isClosed" class="item" content="收起搜索" placement="top">
							<el-button size="small" icon="el-icon-arrow-up" @click="toggleSearch"></el-button>
						</el-tooltip>
					</span>
				</div>
				<div class="is-grown">
					<el-table ref="mytable" v-loading="loading" height="100%" :data="tableData" border
						:header-cell-style="headStyle" style="width: 100%" stripe>
						<el-table-column label="序号" type="index" align="center" width="50" fixed>
						</el-table-column>
						<el-table-column label="流程实例ID" fixed prop="proInstId" min-width="200px" show-overflow-tooltip
							align="center" header-align="center">
						</el-table-column>
						<el-table-column label="流程主题" fixed prop="proInstName" min-width="200px" show-overflow-tooltip
							align="left" header-align="center">
						</el-table-column>
						<el-table-column label="流程名称/流程Key" prop="processNameKey" :formatter="formatProcessNamekey" min-width="300px" show-overflow-tooltip
							align="left" header-align="center">
						</el-table-column>
						<el-table-column label="节点名称/节点ID" prop="taskNameID" :formatter="formatTaskNamekey" min-width="200px" show-overflow-tooltip
							align="center" header-align="center">
						</el-table-column>
						<el-table-column label="开始时间" prop="startTime" min-width="200px" show-overflow-tooltip
							align="center" header-align="center">
						</el-table-column>
						<el-table-column label="候选办理人" prop="approveUserName" min-width="200px" show-overflow-tooltip
							align="center" header-align="center">
						</el-table-column>
						<el-table-column label="业务数据ID" prop="businessKey" min-width="300px" show-overflow-tooltip
							align="left" header-align="center">
						</el-table-column>
						<el-table-column label="发起人" prop="startUserName" min-width="120px" show-overflow-tooltip
							align="center" header-align="center">
						</el-table-column>
						<el-table-column label="过期时间" prop="dueTime" min-width="200px"
							show-overflow-tooltip align="left" header-align="center">
						</el-table-column>
						<el-table-column label="操作" align="center" width="250" fixed="right">
							<template slot-scope="scope">
								<el-button @click="turnToDo(scope.row)" type="text" size="small">转办</el-button>
								<el-button @click="pressToDo(scope.row)" type="text" size="small">催办</el-button>
								<el-button @click="seeFlow(scope.row)" type="text" size="small">流程图</el-button>
								<el-button @click="seeHistory(scope.row)" type="text" size="small">审批记录</el-button>
							</template>
						</el-table-column>
					</el-table>
				</div>
				<div style="padding: 15px 0 0;" class="clearfix">
					<el-pagination class="fr" @size-change="handleSizeChange" @current-change="handleCurrentChange"
						:current-page="currentPage" :page-sizes="[10, 20, 50, 100]" :page-size="pageSize"
						layout="total, sizes, prev, pager, next, jumper" :total="total">
					</el-pagination>
				</div>
			</div>

		</jas-list-wrapper>



	</div>
</body>

<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>

<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: function () {
			return {
				headStyle: {
					'background-color': '#f5f7fa ',
				},
				isClosed: false,
				tableData: [],
				form: {},
				pageSize: 10,
				currentPage: 1,
				total: 0,
				loading: false,
				proNameData: [],
			}
		},

		mounted: function () {
			this.requestNames();
			this.requestList();
		},
		methods: {
			requestNames: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/jasframework/workflow/deploy/getNameList.do";
				jasTools.ajax.get(url, {}, function (data) {
					data.rows.forEach(function (item) {
						that.proNameData.push(item);
					});
				});
			},
			seeHistory: function (row) {
				var that = this;
				var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/module-workflow/common/dialogs/approve-dialog.html'; 
				var src = jasTools.base.setParamsToUrl(baseSrc, {
					proInstId: row.proInstId,
					isEdit: 0,
					taskId: row.taskId,
					businessKey:row.businessKey,
					//carbonId: row.oid
				});
				top.jasTools.dialog.show({
					width: '60%',
					height: '80%',
					title: '审批记录',
					src: src,
				});
			},
			seeFlow: function (row) {
				var that = this;
				var baseSrc = jasTools.base.rootPath +
					'/jasmvvm/pages/module-workflow/common/dialogs/workflow-viewer.html';
				var src = jasTools.base.setParamsToUrl(baseSrc, {
					proInstId: row.proInstId
				});
				top.jasTools.dialog.show({
					width: '80%',
					height: '80%',
					title: '流程图',
					src: src,
				});
			},
			turnToDo: function (row) {
				var that = this;
				var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/module-workflow/common/dialogs/taskTransfer.html';
				var processNamesAndTaskNames = encodeURI(row.processName)+"("+row.processKey+")";
				var src = jasTools.base.setParamsToUrl(baseSrc, {
					taskId: row.taskId,
					proInstId: row.proInstId,
					processNamesAndTaskNames: processNamesAndTaskNames
				});
				top.jasTools.dialog.show({
					width: '40%',
					height: '40%',
					title: '转办',
					src: src,
					cbForClose: function () {
						that.requestList(0);
					}
				});
			},

			pressToDo: function (row) {
				var that = this;
				var afterDelete = function () {
					top.Vue.prototype.$message({
						type: 'success',
						message: '催办成功'
					});
					that.requestList();
				};
				window.top.Vue.prototype.$confirm('催办功能将给此任务的所有待办用户发送催办邮件，您确认要催办吗？', '催办', {
					type: 'warning',
					callback: function (action) {
						if (action === 'confirm') {
							var url = jasTools.base.rootPath + "/jasframework/workflow/task/remind.do";
							jasTools.ajax.post(url, {
								taskIds:row.taskId.split(',')
							}, function (data) {
								afterDelete();
							});
						}
					}
				});
			},
			requestList: function (param) { // 0刷新  1重置  2搜索
				var that = this;
				if (param == 1) {
					this.form = {};
					this.pageSize = 10;
					this.currentPage = 1;
				}
				if (param == 2) {
					this.pageSize = 10;
					this.currentPage = 1;
				}
				var url = jasTools.base.rootPath + "/jasframework/workflow/task/getAllTodoList.do";
				that.loading = true;
				jasTools.ajax.post(url, {
					proInstId: that.form.proInstId,
					businessKey: that.form.businessKey,
					processKey: that.form.processKey,
					startTimeBegin: Date.parse(new Date(that.form.startTimeBegin)) || '',
					startTimeEnd: Date.parse(new Date(that.form.startTimeEnd)) || '',
					pageNo: that.currentPage,
					pageSize: that.pageSize,
					page: that.currentPage,
					rows: that.pageSize,
				}, function (data) {
					that.loading = false;
					that.total = data.total;
					that.tableData = data.rows;
				});
			},
			formatTaskNamekey: function(row, column, cellValue, index){
				return row.taskName+" ("+row.taskId+")";
			},
			formatProcessNamekey: function(row, column, cellValue, index){
				return row.processName+"("+row.processKey+")";
			},
			toggleSearch: function () {
				this.$refs['mylist'].toggleSearch();
				this.isClosed = this.$refs['mylist'].isClosed;
			},
			handleSizeChange: function (val) {
				this.pageSize = val;
				this.requestList();
			},
			handleCurrentChange: function (val) {
				this.currentPage = val;
				this.requestList();
			}
		},
	});
</script>

</html>