<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../common/lib/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../common/lib/easyui/themes/icon.css">
<link rel="stylesheet"  type="text/css" href="../../common/css/font-awesome.css" ></link>
<link rel="stylesheet" type="text/css" href="../../common/css/common.css" ></link>

<link rel="stylesheet" type="text/css" href="css/tree.css">

<script type="text/javascript" src="../../common/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../common/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../common/lib/easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../common/js/common.js"></script>
<script  type="text/javascript" src="js/tree_tab.js"></script>
<script type="text/javascript" src="" id="i18nEasyui"></script>
<script type="text/javascript" src="../../common/i18n/i18n.js"></script>
</head>
<body>
	<div id="main" class="easyui-layout" fit="true">
		<div  id="left" class="left" data-options="region:'west',split:true" title="树结构" style="width:200px;">
			<ul id="dataTree"  animate="false">
				
			</ul>
		</div>
		<div id="right" class="right" data-options="region:'center'">
			<div id="toolbar" class="toolbar">
				<!-- <a href="#" class="easyui-linkbutton " plain="true" onclick="viewUser()"><label><span key="view" class="paltform-i18n">查看</span></label></a>
				<a href="#" class="easyui-linkbutton " plain="true" onclick="addUser()"><span key="add" class="paltform-i18n">新增</span></a>
				<a href="#" class="easyui-linkbutton" plain="true" onclick="editUser()"><span key="edit" class="paltform-i18n">修改</span></a>
				<a href="#" class="easyui-linkbutton " plain="true" onclick="removeUser()"><span key="delete" class="paltform-i18n">删除</span></a>
				<a href="#" class="easyui-linkbutton " plain="true" onclick="roleAdd()"><span key="user.jiaoseshezhi" class="paltform-i18n">角色设置</span></a>
				<a href="#" class="easyui-linkbutton " plain="true" onclick="resetUserPwd()"><span key="user.mimachongzhi" class="paltform-i18n">密码重置</span></a>  -->
			</div>
			<div id="dataTabs" class="easyui-tabs" style="width:100%;height:100%;">
			</div>
		</div>
	</div>
</body>
</html>