<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>已办工作</title>
	<link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./../../../common/css/main.css">
	<style>
	
	</style>
</head>

<body>
	<div id="app" v-cloak v-loading="loading">
            <div slot="list" class="jas-flex-box is-vertical is-grown">

				<div class="is-grown" style="padding: 15px 20px;overflow: auto;">
					<el-table ref="mytable"   v-loading="loading" 
                        height="100%" :data="tableData" border :header-cell-style="headStyle" style="width: 100%" stripe>
                        <el-table-column prop="businessKey"  label="业务数据Id" v-if="columnShow"> </el-table-column>
                        <el-table-column prop="proInstId"  label="流程实例Id" v-if="columnShow"> </el-table-column>
						<el-table-column label="序号" type="index" align="center" width="50" fixed>
                        </el-table-column>		
						<el-table-column label="流程名称" fixed prop="processName" min-width="100px" show-overflow-tooltip align="center" header-align="center">
                        </el-table-column>						
						<el-table-column label="流程主题" fixed prop="proInstName" min-width="100px" show-overflow-tooltip align="center" header-align="center">
                        </el-table-column>
						<el-table-column label="节点名称/节点Id" prop="taskName" :formatter='taskNameFormatter'  min-width="100px" show-overflow-tooltip align="center" header-align="center">
                        <el-table-column prop="taskId"  label="节点Id" v-if="columnShow"> </el-table-column>									
						</el-table-column>
                        <el-table-column label="发起人" prop="startUserName" min-width="100px" show-overflow-tooltip align="center" header-align="center">
                        </el-table-column>
                        <el-table-column label="开始时间" prop="startTime" min-width="100px" show-overflow-tooltip align="center" header-align="center">
                        </el-table-column>
                        <el-table-column label="结束时间" prop="endTime" min-width="100px" show-overflow-tooltip align="center" header-align="center">
                        </el-table-column>
                        <el-table-column label="持续时长" prop="duration" min-width="150px" :formatter='timeFormatter' show-overflow-tooltip align="center" header-align="center">
                         </el-table-column>
						<el-table-column label="操作" align="center" width="200" fixed="right">
							<template slot-scope="scope">
								<el-button @click="showReadPage(scope.row)" type="text" size="small">审批记录</el-button>
								<el-button @click="showWorkFlowChart(scope.row)" type="text" size="small">流程图</el-button>
								<el-button @click="taskWithdraw(scope.row)" type="text" size="small">撤回</el-button>
							</template>
						</el-table-column>
					</el-table>
				</div>
		
                <div style="padding: 15px 0 0;" class="clearfix">
					<el-pagination class="fr" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
						:page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
					</el-pagination>
                </div>
            </div>    

	</div>
</body>

<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>

<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../common/components/jas-components.js"></script>
<script src="./../common/common.js"></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: function () {
			return {
                headStyle: {
					'background-color': '#f5f7fa ',
                },
                columnShow:false,
                tableData:[],
				pageSize: 10,
				currentPage: 1,
				total: 0,
			}
		},		
		computed: {
		
		},
		watch: {		
			
		},
		created: function () {
			this.getHasDoneList();
		},
		mounted: function () {
		
		},
		methods: {			
			showWorkFlowChart: function (row) {
				var that = this;
				var baseSrc = jasTools.base.rootPath +
					'/jasmvvm/pages/module-workflow/common/dialogs/workflow-viewer.html';
				var src = jasTools.base.setParamsToUrl(baseSrc, {
					proInstId: row.proInstId
				});
				top.jasTools.dialog.show({
					width: '80%',
					height: '80%',
					title: '流程图',
					src: src,
				});
			},
			showReadPage: function(row){
				var that = this;
				var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/module-workflow/common/dialogs/approve-dialog.html'; 
				var src = jasTools.base.setParamsToUrl(baseSrc, {
					proInstId: row.proInstId,
					//taskId: row.taskId,
					businessKey:row.businessKey,
					//carbonId: row.oid
				});
				top.jasTools.dialog.show({
					width: '60%',
					height: '80%',
					title: '审阅信息',
					src: src,
					cbForClose: function () {
						that.requestList();
					}
				});
            },
          
            getHasDoneList:function(){
                var that = this;
		
					this.form = {};
					this.pageSize = 10;
					this.currentPage = 1;
                    var loginUserName=localStorage.getItem('user').loginUserName;
				var url = jasTools.base.rootPath + "/jasframework/workflow/task/myDoneList.do?loginUserName="+loginUserName;
				that.loading = true;
				jasTools.ajax.post(url, {

                    pageNo: this.currentPage,
					pageSize: this.pageSize,
					
                }, function (data) {
					that.loading = false;
					that.total = data.total;
					that.tableData = data.rows;
				});
			},
			taskWithdraw:function(row){
				var that = this;
				var taskId=row.taskId;
				var afterWithdraw = function () {
					top.Vue.prototype.$message({
						type: 'success',
						message: '撤回成功'
						});
					that.getHasDoneList();
					};
				var checkUrl=jasTools.base.rootPath + "/jasframework/workflow/task/isCanWithdraw.do";
				jasTools.ajax.postForm(checkUrl,{
					taskId:taskId,
				},function(result){

					if(!result.data){
						that.$message({
						message: '此已办工作不支持撤回！',
						type: 'warning'
						});
						
					}else{

						window.top.Vue.prototype.$confirm('您确定要撤回吗？', '', {
							type: 'warning',
							callback: function (action) {
								if (action === 'confirm') {
									var url = jasTools.base.rootPath + "/jasframework/workflow/task/withdraw.do";
									jasTools.ajax.post(url, {
										taskId:taskId,
										}, function (data) {
											afterWithdraw();
										});
										}
							}
						});
					}
				});

			},
			handleSizeChange: function (val) {
				this.pageSize = val;
				this.getHasDoneList();
			},
			handleCurrentChange: function (val) {
				this.currentPage = val;
				this.getHasDoneList();
            },
            timeFormatter: function(row, column, cellValue, index){
				return millsToHmsConverter(cellValue) ;
            },
            taskNameFormatter:function(row, column, cellValue, index){
                return row.taskName+'('+row.taskId+')';
            }
		},
	});
</script>

</html>