<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SWFUpload Demos - External Interface Demo</title>
<link href="css/default.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../common/lib/jquery.min.js"></script>
<!-- <script type="text/javascript" src="swfupload/swfupload.js"></script> -->
<!-- <script type="text/javascript" src="js/fileprogress.js"></script> -->
<!-- <script type="text/javascript" src="js/handlers.js"></script> -->
<!-- <script type="text/javascript" src="js/swfupload.queue.js"></script> -->
<script type="text/javascript" src="../../common/js/common.js"></script>
<script type="text/javascript" src="js/jquery.form.js"></script>
<script type="text/javascript" src="js/insert.js"></script>
<script type="text/javascript" src="js/upload.js"></script>
</head>
<body>


<div id="content">
</div>

<br /><br /><br /><br /><br /><br /><br /><br />
测试业务id<input id="businessid"/><input  onclick="sumbitbus()" value="提交" type="button"/>
<input  onclick="loaddowndata()" value="查询" type="button"/>
<br></br> <br /><br /><br /><br /><br /><br /><br />


<input type="button" value="添加附件" onclick="addTR()" />
<form class="uploadform" id="uploadform" enctype="MULTIPART/FORM-DATA" method="post">
<table id="uploadtable"></table>
<input type="submit"/>
</form>
<input type="hidden" name="exts" value="rar" ></input>
</body>
</html>
