<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta name="keywords" content="gis,web">
<meta name="description" content="">
<title></title>
<!-- css和js的引用，生成代码之后将代码放入项目工程中，并修改相对路径 -->
<!-- css引用，注意引用顺序 -->
<link rel="stylesheet" type="text/css" href="../../../jasframework/common/lib/easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../../../jasframework/common/lib/easyui/themes/icon.css">
<link rel="stylesheet"  type="text/css" href="../../../jasframework/common/css/font-awesome.css" ></link>
<link rel="stylesheet"  type="text/css" href="../../../jasframework/common/css/common.css"></link>
<link rel="stylesheet" href="../../../jasframework/common/css/detail.css" type="text/css"></link>
<link rel="stylesheet" type="text/css" href="../../../jasframework/common/css/webuploader/initialize_webuploader.css">
<link rel="stylesheet"  type="text/css" href="../../../jasframework/common/css/webuploader/view_pic.css"></link>
<link rel="stylesheet"  type="text/css" href="../../../jasframework/common/css/webuploader/view_photo.css"></link>

</head>
<body>
    <div id="contentArea" class="content-area">
        <form class="content-area-main">
    <!-- 表单区域，每行四列 -->
            <table align="center" class="detail-table" >
                <tr>
                    <th width="15%"><span>模板名称</span></th>
                    <td width="35%"><span id="excelTemplateName"></span></td>
                    <th width="15%"><span>模板编号</span></th>
                    <td width="35%"><span id="excelTemplateCode"></span></td>
                </tr>
                <tr>
                    <th width="15%"><span>模板类型</span></th>
                    <td width="35%"><span id="excelTemplateType"></span></td>
                    <th width="15%"><span>模板路径</span></th>
                    <td width="35%"><span id="excelTemplatePath"></span></td>
                 </tr>
                <tr>
                    <th width="15%"><span>备注</span></th>
                    <td colspan="3" width="85%"><span id="remark"></span></td>
                </tr>
            </table>
        <!-- <div id="downloadDIV"></div> -->
                <!-- 存放附件的容器   带描述-->
            <!-- <div class="table-content">
                <h6 class="table-title">附件信息</h6>
                <div id="viewFileContainer" ></div>
            </div> -->
        </form>
    </div>
    <div class="button-area">
        <table width="100%">
            <tr>
                <td  align="center">
                    <a href="#" class="easyui-linkbutton close-btn" onclick="closePanel()"> <span>关闭</span></a>
                </td>
            </tr>
        </table>
    </div>
</body>
<!-- js引用， 注意引用顺序 -->

<script type="text/javascript" src="../../../jasframework/common/lib/jquery.min.js"></script>
<script type="text/javascript" src="../../../jasframework/common/lib/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="../../../jasframework/common/js/common.js"></script>
<script type="text/javascript" src="../../../jasframework/common/i18n/i18n.js"></script>
<script type="text/javascript" src="../../../jasframework/common/js/webuploader/view_file.js"></script> 
<script type="text/javascript" src="js/view_excel_template.js"></script>   
</html>