<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3"/>
    <meta http-equiv="description" content="this is my page"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" type="text/css" href="../../../jasframework/common/lib/easyui/themes/default/easyui.css"/>
	<link rel="stylesheet" type="text/css" href="../../../jasframework/common/lib/easyui/themes/icon.css"/>
	<link rel="stylesheet" type="text/css" href="../../../jasframework/common/css/query.css"/>
	<script type="text/javascript" src="../../../jasframework/common/lib/jquery.min.js"></script>
	<script type="text/javascript" src="../../../jasframework/common/lib/easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../../../jasframework/common/lib/date/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="../../../jasframework/common/lib/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="../../../jasframework/common/js/common.js"></script>
	<script type="text/javascript" src="../../../jasframework/common/js/jsonUtil.js"></script>
	<script type="text/javascript" src="../../../jasframework/common/js/validate_class.js"></script>
	<script type="text/javascript" src="js/dataimportdemo.js"></script>
	<title>导入Excel数据</title>
  </head>
  
  <body>
  	<!-- 数据表格 -->
	<table id="datatableid"></table>
  </body>
</html>
