<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
  <link rel="stylesheet" href="./../../../src/css/main.css">
  <style>
    html,
    body {
      width: 100%;
    }

    #app {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
    }

    .content {
      height: calc(100% - 40px);
      overflow-y: auto;
      overflow-x: hidden;
    }

    .dialog-footer {
      background: #fff;
      width: 100%;
      position: absolute;
      bottom: 0px;
      z-index: 3000;
      height: 40px;
      line-height: 40px;
    }

    .bulk {
      padding-bottom: 10px;
      margin-bottom: 22px;
      border-bottom: 1px solid rgb(228, 231, 237);
    }

    .title {
      padding: 0px 0px 10px 0px;
      height: 100%;
      border-bottom: 2px solid rgb(64, 158, 255);
    }

    .el-date-editor,
    .el-input-number {
      width: 100% !important;
      /*height: 31px;*/
    }

    .el-picker-panel {
      z-index: 3007 !important;
    }

    .el-input__inner {
      text-align: left !important;
    }

    .el-form-item {
      margin-bottom: 15px !important;
    }

    .el-radio-group {
      line-height: 46px !important;
    }

    .el-upload {
      width: 100% !important
    }

    .height {
      height: 56px;
    }

    .file-item {
      height: 30px;
      line-height: 30px;
      width: 100%;
      /*padding: 0px 10px*/
    }

    .file-item:hover {
      background: #dcdfe6
    }

    .btn {
      padding-left: 10px;
      cursor: pointer;
      font-size: 1.2em
    }

    .btn:hover {
      color: #66b1ff;
    }

    .el-table th.req>div::before {
      display: inline-block;
      content: "*";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      color: #ff4d51;
      margin-right: 5px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="content">
      <el-form ref="formData" :model="formData" :label-width="labelwidth">
        <template v-for="group in formAttr">
          <div class="bulk" v-if="group.groupName">
            <span class="title">
						{{group.groupName}}
					</span>
          </div>
          <el-row :gutter="10">
            <template v-for="item in group.data">
              <el-col v-if="item.type=='UT_13'" :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                <el-form-item :prop="item.id" :label="item.name" :rules="item.verify">
                  <el-input v-if="item.type=='UT_13'" type="文本域" :rows="2" :size="item.size" v-model="formData[item.id]" :disabled="item.disabled"></el-input>
                </el-form-item>
              </el-col>
              <el-col v-else :xs="formConfig.xs" :sm="formConfig.sm" :md="formConfig.md" :lg="formConfig.lg" :xl="formConfig.xl" :class="{'height' : item.type=='UT_14'||item.type=='UT_05'||item.type=='UT_06'||item.type=='UT_07'||item.type=='UT_08' }">
                <el-form-item :prop="item.id" :label="item.name" :rules="item.verify" initial="off">
                  <el-input v-if="item.type=='UT_01'" :placeholder="item.placeholder" v-model="formData[item.id]" :size="item.size" :disabled="item.disabled"
                    clearable>
                  </el-input>
                  <el-select v-model="formData[item.id]" multiple v-if="isMultiSelect(item)" style="width:100%" :size="item.size" :disabled="item.disabled"
                    clearable @visible-change="visibleChange($event,item)" @change="getChildOpts($event,item)">
                    <template v-for="option in item.options">
                      <el-option :label="option.value" :value="option.key">
                      </el-option>
                    </template>
                  </el-select>
                  <el-select v-model="formData[item.id]" :disabled="item.disabled" v-if="isSelect(item)" style="width:100%" :size="item.size"
                    clearable @visible-change="visibleChange($event,item)" @change="getChildOpts($event,item)">
                    <template v-for="option in item.options">
                      <el-option :label="option.value" :value="option.key">
                      </el-option>
                    </template>
                  </el-select>
                  <el-time-picker v-if="item.type=='UT_02'" value-format="HH:mm:ss" :disabled="item.disabled" v-model="formData[item.id]" placeholder="任意时间点"
                    :size="item.size">
                  </el-time-picker>
                  <el-date-picker v-if="item.type=='UT_04'" value-format="yyyy-MM-dd HH:mm:ss" v-model="formData[item.id]" type="datetime"
                    placeholder="选择日期时间" :size="item.size" :disabled="item.disabled">
                  </el-date-picker>
                  <el-date-picker v-if="item.type=='UT_03'" value-format="yyyy-MM-dd" type="date" :placeholder="item.placeholder" v-model="formData[item.id]"
                    :size="item.size" :disabled="item.disabled" style="width: 100%;">
                  </el-date-picker>
                  <el-radio-group v-if="isRadio(item)" border v-model="formData[item.id]" size="small" :disabled="item.disabled">
                    <template v-for="radioItem in item.options">
                      <el-radio :label="radioItem.key" size="small">{{radioItem.value}}</el-radio>
                    </template>
                  </el-radio-group>
                  <el-checkbox-group v-if="isCheckbox(item)" v-model="formData[item.id]" :disabled="item.disabled">
                    <template v-for="checkboxItem in item.options">
                      <el-checkbox :label="checkboxItem.key">{{checkboxItem.value}}</el-checkbox>
                    </template>
                  </el-checkbox-group>
                  <el-input-number v-if="item.type=='UT_14'" :size="item.size" v-model="formData[item.id]" controls-position="right" :min="item.min"
                    :max="item.max"></el-input-number>
                </el-form-item>
              </el-col>
            </template>
          </el-row>
        </template>
      </el-form>
      <el-row>
        <el-upload multiple :limit="limitNum" :show-file-list="false" class="upload-demo" name="files" ref="upload" :action="actionURL"
          :on-exceed="onExceed" :on-change="uploadOnChange" :on-success="onsuccess" :file-list="fileList" :auto-upload="autoUpload"
          :on-progress="uploadOnProgress">
          <div class="bulk" style="text-align: left">
            <span class="title">上传附件<span style="padding-left:10px">{{fileListlength}}<span><span style="padding-left:5px">—<span><span style="padding-left:5px">{{limitNum}}<span></span>
            <div style="float:right;font-size:18px;color:rgb(64, 158, 255)" slot="trigger" class="fa fa-upload" style="font-size:20px">
            </div>
          </div>
        </el-upload>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <div class="file-list">
            <div v-for="(item,key) in fileListStatus" :key="key" class="file-item">
              <div style="float:left">
                <i class="el-icon-document"> </i>
                <span style="padding-left:10px">{{item.name}}</span>
              </div>
              <div style="float:right">
                <i v-if="item.oid" class="el-icon-view btn" @click="handlePreview(item)"> </i>
                <i v-if="item.oid" class="el-icon-download btn" @click="handleDownload(item)"> </i>
                <i class="el-icon-delete btn" @click="handleFileRemove(item,key)"> </i>
              </div>
            </div>
            <div v-if="!pass && progress !== 0" class="file-item img-progress">
              <el-progress :percentage="progress" :status="proStatus"></el-progress>
            </div>
          </div>
        </el-col>
      </el-row>
      <!--子表相关信息-->
      <template>
        <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
          <div class="bulk" style="text-align: left;margin-bottom: 0px;">
            <span class="title">子表信息</span>
          </div>
          <div class="btns" style="margin:10px 0px;">
            <el-button size="small" type="primary" plain="plain" icon="el-icon-refresh" @click="addSon"> 增加</el-button>
          </div>
          <el-table class="is-grown" :data="tableData1" style="width: 100%;" :header-cell-style="headStyle" border>
            <el-table-column v-for="item in tableColumns" label-class-name="req" prop="item.id" :label="item.name" align="center">
              <template slot-scope="scope">
                <div v-if="scope.row.editing">
                  <el-input size="small" v-model="scope.row[item.id]" @blur="verify1(scope.row[item.id],item)" placeholder="选择输入表中文名称">
                  </el-input>
                </div>
                <div v-else>
                  <span>{{scope.row[item.id]}}</span>
                </div>
              </template>
            </el-table-column>
            <el-table-column fixed="right" label="操作" width="200" align="center">
              <template slot-scope="scope">
                <div v-if="!scope.row.editing">
                  <el-button @click="delRow(scope.row,scope.$index)" type="text" size="small">删除</el-button>
                  <el-button @click="editRow(scope.row,scope.$index)" type="text" size="small">编辑</el-button>
                </div>
                <div v-else>
                  <el-button @click="cancelEdit(scope.row,scope.$index)" type="text" size="small">取消</el-button>
                  <el-button @click="saveEdit(scope.row,scope.$index)" type="text" size="small">保存</el-button>
                </div>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </template>
    </div>
    <div slot="footer" class="dialog-footer" style="text-align: center">
      <el-button size="small" @click="cancel()">取 消</el-button>
      <el-button size="small" type="primary" @click="submit('formData')">确 定</el-button>
    </div>
  </div>
</body>
<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../common/components/jas-components.js "></script>
<script src="./../../../common/js/jas-tools.js"></script>
<script>
  var app = new Vue({
    el: "#app",
    data: function () {
      return {
        headStyle: {
          'background-color': '#f5f7fa ',
        },
        rules: [],
        formData: {},
        formAttr: [],
        labelwidth: "",
        formConfig: {
          xs: 24,
          sm: 12,
          md: 6,
          lg: 6,
          xl: 6
        },
        fileListlength: 0,
        menuCode: "",
        isEdit: {},
        fileList: [],
        fileListStatus: [],
        pkArray: [],
        ifAttachment: false,
        progress: 0, //上传进度
        pass: null, //是否上传成功
        limitNum: 2,
        autoUpload: false,
        actionURL: jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token"),
        tableData1: [{
          oid: '',
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄',
          editing: 0
        }],
        tableColumns: [{
          id: "date", //需要把此处的下划线 噶爱成驼峰
          name: "日期",
          align: 'center',
          required: true,
          regularExpression: "RG_06"
        }, {
          id: "name", //需要把此处的下划线 噶爱成驼峰
          name: "姓名",
          align: 'center',
          required: false,
          regularExpression: "RG_02"
        }, {
          id: "address", //需要把此处的下划线 噶爱成驼峰
          name: "地址",
          align: 'center',
          required: false,
          regularExpression: "RG_03"
        }],
      }
    },
    computed: {
      proStatus:function() { //上传状态
        if (this.pass) {
          return 'success';
        } else if (this.pass == false) {
          return 'exception';
        } else {
          return '';
        }
      },

    },
    mounted: function () {
      var param = window.jasTools.base.getParamsInUrl(location.href);
      if (param.menuCode) {
        this.menuCode = param.menuCode;
      }
      delete param.menuCode;
      this.isEdit = param;
      if (JSON.stringify(this.isEdit) == '{}') {
        this.requestConfig();
      } else {
        this.requestDetailByObj();
      }
    },
    methods: {
      requestConfig: function () {
        var that = this;
        $.ajax({
          type: "get",
          url: "../js/template.json",
          dataType: "json",
          async: true,
          success: function (data) {
            if (data.form.col) {
              that.setConfig(data.form.col);
              that.labelwidth = data.form.labelwidth;
            }
            that.autoUpload = data.file.autoUpload;
            that.limitNum = data.file.limitNum;
            that.requestRule();
          }
        });
      },
      requestRule: function () { //显示请求规则，成功之后再去请求所有的
        var that = this;
        $.ajax({
          type: "get",
          url: "../../form-operation/js/regexp.json",
          dataType: "json",
          async: true,
          success: function (data) {
            if (data.rows) {
              that.rules = data.rows;
            }
          }
        });
        that.requestByOid();
      },
      requestByOid: function () {
        var that = this;
        $.ajax({
          type: "get",
          url: jasTools.base.rootPath + "/functionConfiguration/getDetailByCode.do?token=" + localStorage.getItem("token"),
          dataType: "json",
          data: {
            functionCode: that.menuCode
          },
          async: true,
          success: function (data) {
            if (data.status == 1) {
              /*是否存在附件*/
              if (data.data.ifAttachment == '1') {
                that.ifAttachment = true;
              } else {
                that.ifAttachment = false;
              }
              /*是否存在附件*/
              var arr = data.data.functionFieldsBoList;
              var map = {};
              var dest = [];
              for (var i = 0; i < arr.length; i++) {
                var ai = arr[i];
                if (!map[ai.groupIndex || ai.groupName]) {
                  dest.push({
                    groupName: ai.groupName,
                    index: ai.groupIndex || '',
                    data: [ai]
                  });
                  map[ai.groupIndex || ai.groupName] = ai;
                } else {
                  for (var j = 0; j < dest.length; j++) {
                    var dj = dest[j];
                    if ((dj.index == ai.groupIndex) || (dj.groupName == ai.groupName)) {
                      dj.data.push(ai);
                      break;
                    }
                  }
                }
              }

              if (JSON.stringify(that.isEdit) == '{}') {
                that.getAddField(that.isArrySort(dest));
              } else {
                that.getEditField(that.isArrySort(dest));
              }
            } else {
              that.$message({
                type: 'error',
                message: '服务异常，请稍候尝试'
              });
            }
          }
        });
      },
      getAddField: function (data) {
        var that = this;
        data.forEach(function (group, index) {
          var groupAttr = [];
          group.data.forEach(function (item) {
            var obj = {};
            var options = [];
            if (item.ifPrimaryKey) {
              that.pkArray.push(item.fieldName);
              that.formData[item.fieldName] = that.createuuid();
            }
            if (item.domainList) {
              item.domainList.forEach(function (child) {
                var obj = {};
                for (var key in child) {
                  obj[key.toLowerCase()] = child[key];
                }
                options.push(obj);
              });
            }
            if (item.ifSave == '1') {
              obj = {
                id: item.fieldName,
                name: item.fieldNameCn,
                type: item.uiType,
                size: "small",
                placeholder: item.placeholder,
                options: options,
                verify: [],
                requestUrl: item.requestPath,
                childField: item.childField,
                min: item.min || 1,
                max: item.max || 10,
                index: item.rowIndex,
              };
              if (item.ifRequired == '1') {
                obj.verify.push({
                  required: true,
                  message: item.placeholder,
                  // trigger: 'blur'
                });

              }
              if (item.uiType == 'UT_01') {
                that.rules.forEach(function (ruleItem) {
                  if (ruleItem.id == item.regularExpression) {
                    obj.verify.push({
                      pattern: eval(ruleItem.regexp),
                      message: ruleItem.tip
                    });
                  }
                });
              }
              if (item.fieldLength && item.uiType == 'UT_01') {
                obj.verify.push({
                  min: "0",
                  max: item.fieldLength,
                  message: "不能超过" + item.fieldLength + "字"
                });
              }
              if (item.regularExpression == '4' && item.min && item.max) {
                obj.verify.push({
                  validator: validateNumber,
                  trigger: 'blur'
                });
              }
              if (item.uiType == "UT_07" || item.uiType == "UT_08") {
                that.$set(that.formData, item.fieldName, []);
              }
              if (item.uiType == "UT_05" || item.uiType == "UT_06") {
                if (obj.options.length > 0) {
                  that.$set(that.formData, item.fieldName, obj.options[0].key);
                }
              }
              groupAttr.push(obj);
            }
          });
          that.formAttr.push({
            groupName: group.groupName,
            data: that.isArrySort(groupAttr)
          });
        });
        that.actionURL = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") + "&businessId=" +
          that.formData[that.pkArray[0]] + "&businessType=file";
      },
      getEditField: function (data) {
        var that = this;
        data.forEach(function (group, index) {
          var groupAttr = [];
          group.data.forEach(function (item) {
            var obj = {};
            var options = [];
            if (item.ifPrimaryKey) {
              that.pkArray.push(item.fieldName);
            }
            if (item.domainList) {
              item.domainList.forEach(function (child) {
                var obj = {};
                for (var key in child) {
                  obj[key.toLowerCase()] = child[key];
                }
                options.push(obj);
              });
            }
            if (item.ifUpdate == '1') {
              obj = {
                id: item.fieldName,
                name: item.fieldNameCn,
                type: item.uiType,
                size: "small",
                placeholder: item.placeholder,
                options: options,
                verify: [],
                requestUrl: item.requestPath,
                childField: item.childField,
                index: item.rowIndex,
                min: item.min,
                max: item.max,
                disabled: false
              };
              if (item.updateable == '1') {
                obj.disabled = true;
              }
              if (item.ifRequired == '1') {
                obj.verify.push({
                  required: true,
                  message: item.placeholder
                });
              }
              if (item.uiType == 'UT_01') {
                that.rules.forEach(function (ruleItem) {
                  if (ruleItem.id == item.regularExpression) {
                    obj.verify.push({
                      pattern: eval(ruleItem.regexp),
                      message: ruleItem.tip
                    });
                  }
                });
              }
              if (item.fieldLength && item.uiType == 'UT_01') {
                obj.verify.push({
                  min: "0",
                  max: item.fieldLength,
                  message: "输入过长"
                });
              }
              if (item.uiType == 'UT_04' || item.uiType == 'UT_03' || item.uiType == 'UT_02') {
                that.formData[item.fieldName] = new Date(that.formData[item.fieldName]);
              }
              if (item.regularExpression == '4' && item.min && item.max) {
                obj.verify.push({
                  validator: validateNumber,
                  trigger: 'blur'
                });
              }
              if (item.uiType == "UT_07" || item.uiType == "UT_08") {
                that.$set(that.formData, item.fieldName, that.formData[item.fieldName].split(","));
              }
              if (item.uiType == "UT_09" || item.uiType == "UT_10") {
                that.$set(that.formData, item.fieldName, that.formData[item.fieldName].split(","));
              }
              groupAttr.push(obj);
            }
          });
          that.formAttr.push({
            groupName: group.groupName,
            data: that.isArrySort(groupAttr)
          });
        });
        that.requestFiles();
        that.actionURL = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") + "&businessId=" +
          that.formData[that.pkArray[0]] + "&businessType=file";
      },
      requestFiles: function () {
        var that = this;
        $.ajax({
          type: "get",
          url: jasTools.base.rootPath + "/attachment/getInfo.do?token=" + localStorage.getItem("token") + "&businessId=" + that.formData[
            that.pkArray[0]] + "&businessType=file",
          dataType: "json",
          contentType: "application/json",
          success: function (data) {
            if (data.status == 1) {
              if (data.rows.length > 0) {
                data.rows.forEach(function (item) {
                  that.fileList.push({
                    name: item.fileName,
                    size: item.size,
                    oid: item.oid
                  });
                  that.fileListStatus.push({
                    name: item.fileName,
                    size: item.size,
                    oid: item.oid
                  })
                });
                that.fileListlength = that.fileList.length;
              }
            } else {
              that.$message({
                type: 'error',
                message: '服务异常，请稍候尝试'
              });
            }
          }
        });
      },
      requestDetailByObj: function () {
        var that = this;
        $.ajax({
          type: "POST",
          url: jasTools.base.rootPath + "/map/commonData/" + that.menuCode + "/get.do?token=" + localStorage.getItem("token"),
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(that.isEdit),
          success: function (data) {
            if (data.status = 1) {
              that.formData = data.data;
              that.requestConfig();
            }
          }
        });
      },
      cancel: function () {
        this.closeForm();
      },
      closeForm: function () {
        window.parent.jasTools.dialog.close({
          title: '增加',
          src: '/pages/template/dialogs/addTemplate.html',
        });
      },
      submit(formName) {
        var that = this;
        this.$refs[formName].validate((valid) => {
          if (valid) {
            that.submitToServer();
          } else {
            return false;
          }
        });
      },
      submitToServer: function () {
        var that = this;
        var url = "";
        var msg = "";
        /*属性里面是数组的进行转换成字符串*/
        for (key in that.formData) {
          if (that.formData[key] instanceof Array) {
            that.formData[key] = that.formData[key].join(",")
          }
        }
        if (that.autoUpload) {
          that.saveInfo();
        } else {
          var isNotFile = true;
          that.fileListStatus.forEach(function (item) {
            if (!item.oid) {
              isNotFile = false;
              return;
            }
          });
          if (isNotFile) {
            that.saveInfo();
          } else {
            that.actionURL = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") + "&businessId=" +
              that.formData[that.pkArray[0]];
            that.$refs.upload.submit();
          }
        }
      },
      onsuccess: function (e, file) {
        var that = this;
        that.pass = true;
        that.$message.success("上传成功");
        that.fileList.push({
          name: file.name,
          size: file.size,
        });
        if (!that.autoUpload) {
          that.saveInfo();
        }
      },
      saveInfo: function () {
        var that = this;
        var msg = "";
        if (JSON.stringify(that.isEdit) == '{}') {
          msg = "增加成功";
          url = jasTools.base.rootPath + "/map/commonData/" + that.menuCode + "/save.do?token=" + localStorage.getItem("token");
        } else {
          msg = "修改成功";
          url = jasTools.base.rootPath + "/map/commonData/" + that.menuCode + "/update.do?token=" + localStorage.getItem("token");
        }
        $.ajax({
          type: "POST",
          url: url,
          dataType: "json",
          contentType: "application/json",
          data: JSON.stringify(that.formData),
          async: true,
          success: function (data) {
            if (data.status == 1) {
              window.top.Vue.prototype.$message({
                message: msg,
                type: 'success'
              });
              that.closeForm();
            } else {
              window.top.Vue.prototype.$message({
                message: '服务异常，请稍候尝试',
                type: 'error'
              });
            }
          }
        });
      },
      handleFileRemove: function (file, i) {
        var that = this;
        that.$confirm('删除附件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          that.fileList.splice(i, 1);
          that.fileListStatus.splice(i, 1);
          that.fileListlength = that.fileList.length;
          if (file.oid) {
            that.handleToServer(file);
          } else {
            that.$message({
              message: '删除成功',
              type: 'success'
            });
          }
        }).catch(() => {
          that.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      handleToServer: function (file) {
        var that = this;
        $.ajax({
          type: "get",
          url: jasTools.base.rootPath + "/attachment/delete.do?token=" + localStorage.getItem("token") + "&eventids=" + file.oid,
          contentType: "application/json",
          dataType: "json",
          success: function (data, status) {
            if (data.status == 1) {
              that.$message({
                message: '删除成功',
                type: 'success'
              });
            } else {
              that.$message({
                message: '删除失败',
                type: 'info'
              });
            }
          }
        });
      },
      handlePreview: function (file) {
        // window.open("../pdfjs_1.10.88/web/viewer.html");
        window.top.jasTools.dialog.show({
          title: '预览',
          width: '90%',
          height: '100%',
          src: "/pages/template/pdfjs_1.10.88/web/viewer.html?oid=" + file.oid,
          cbForClose: function () {

          }
        });
      },
      uploadOnChange: function (file, fileList) {
        console.log("——————————change——————————")
        console.log(file);
        if (file.status == 'ready') {
          this.pass = null;
          this.progress = 0;
          this.fileListStatus.push({
            name: file.name,
            size: file.size
          })
        } else if (file.status == 'fail') {
          this.$message.error("上传出错，请刷新重试！")
        }
      },
      uploadOnProgress: function (e, file) { //开始上传
        this.progress = Math.floor(e.percent)
      },
      handleDownload: function (file) {
        var that = this;
        var options = {
          "url": jasTools.base.rootPath + "/attachment/download.do?oid=" + file.oid + "&token=" + localStorage.getItem("token"),
          "method": 'post'
        }
        var config = $.extend(true, {
          method: 'get'
        }, options);
        var $iframe = $('<iframe id="down-file-iframe" />');
        var $form = $('<form target="down-file-iframe" method="' + config.method + '" />');
        $form.attr('action', config.url);
        for (var key in config.data) {
          $form.append('<input type="hidden" name="' + key + '" value="' + config.data[key] + '" />');
        }
        $iframe.append($form);
        $(document.body).append($iframe);
        $form[0].submit();
        $iframe.remove();
      },
      onExceed: function (files, fileList) {
        var that = this;
        that.$message({
          message: '文件最多上传' + that.limitNum,
          type: 'info'
        });
      },
      getChildOpts: function (value, item) {
        var that = this;
        var options = [];
        if (item.requestUrl) { //进行子级的查找 后台请求
          $.ajax({
            type: "post",
            url: jasTools.base.rootPath + "/" + item.requestUrl + "?token=" + localStorage.getItem("token"),
            contentType: "application/json",
            data: JSON.stringify({
              "rows": 100,
              "page": 1,
              "tableId": value
            }),
            dataType: "json",
            success: function (data, status) {
              if (data.status == 1) {
                data.rows.forEach(function (item) {
                  var obj = {
                    "key": item.fieldName,
                    "value": item.fieldName,
                  };
                  options.push(obj);
                });
              }
            }
          });
          that.formAttr.forEach(function (parent, index) {
            parent.data.forEach(function (child) {
              if (child.id == item.childField) {
                if (value) {
                  child.options = options;
                } else {
                  options = [];
                  child.options = options;
                }
                that.$set(that.formData, item.childField, "");
              }
            });
            return;
          });
        }
      },
      visibleChange: function (falg, item) {
        var that = this;
        if (falg) {
          that.formAttr.forEach(function (parent, index) {
            parent.data.forEach(function (child) {
              if (child.childField == item.id) {
                if (!that.formData[child.id]) {
                  that.$message({
                    message: '请先选择' + child.name,
                    type: 'warning'
                  });
                }
                return;
              }
            })
          });
        }
      },
      setConfig: function (col) {
        if (col == 4) {
          this.formConfig.xs = 24;
          this.formConfig.sm = 12;
          this.formConfig.md = 6;
          this.formConfig.lg = 6;
          this.formConfig.xl = 6;
        }
        if (col == 3) {
          this.formConfig.xs = 24;
          this.formConfig.sm = 12;
          this.formConfig.md = 8;
          this.formConfig.lg = 8;
          this.formConfig.xl = 8;
        }
        if (col == 2) {
          this.formConfig.xs = 24;
          this.formConfig.sm = 12;
          this.formConfig.md = 12;
          this.formConfig.lg = 12;
          this.formConfig.xl = 12;
        }
        if (col == 1) {
          this.formConfig.xs = 24;
          this.formConfig.sm = 24;
          this.formConfig.md = 24;
          this.formConfig.lg = 24;
          this.formConfig.xl = 24;
        }
      },
      isSelect: function (item) {
        if (item.type == "UT_11" || item.type == "UT_12") {
          return true;
        }
        return false;
      },
      isMultiSelect: function (item) {
        if (item.type == "UT_09" || item.type == "UT_10") {
          return true;
        }
        return false;
      },
      isRadio: function (item) {
        if (item.type == "UT_05" || item.type == "UT_06") {
          return true;
        }
        return false;
      },
      isCheckbox: function (item) {
        if (item.type == "UT_07" || item.type == "UT_08") {
          return true;
        }
        return false
      },
      createuuid: function () {
        var s = [];
        var hexDigits = "0123456789abcdef";
        for (var i = 0; i < 36; i++) {
          s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
        }
        s[14] = "4";
        s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1);
        s[8] = s[13] = s[18] = s[23] = "-";
        var uuid = s.join("");
        return uuid;
      },

      isArrySort: function (arry) {
        for (var unfix = arry.length - 1; unfix > 0; unfix--) {
          for (var i = 0; i < unfix; i++) {
            if (arry[i].index > arry[i + 1].index) {
              var temp = arry[i];
              arry.splice(i, 1, arry[i + 1]);
              arry.splice(i + 1, 1, temp);
            }
          }
        }
        return arry;
      },
      /**关于子表的业务*/
      delRow: function (item, index) {
        var that = this;
        that.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          that.delRowToServer(item, index);
        }).catch(() => {
          that.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      delRowToServer: function (row, index) {
        var that = this;
        that.tableData1.splice(index, 1);
        // $.ajax({
        //   type: "POST",
        //   url: "/haha/map/commonData/" + app.menuCode + "/delete.do?token=" + localStorage.getItem(
        //     "token"),
        //   dataType: "json",
        //   contentType: "application/json",
        //   data: JSON.stringify(row),
        //   success: function (data) {
        //     if (data.status == 1) {
        //       that.$message({
        //         type: 'success',
        //         message: '删除成功'
        //       });
        //       // app.refresh();  此处差删除成功后，进行列表页面的刷新
        //     } else {
        //       that.$message({
        //         type: 'info',
        //         message: '服务异常，请稍候尝试'
        //       });
        //     }
        //   }
        // });
      },
      editRow: function (item) {
        delete item.history;
        item.history = JSON.parse(JSON.stringify(item));
        item.editing = 1;
      },
      addSon: function () {
        var that = this;
        var isExist = false;
        that.tableData1.forEach(function (item) {
          if (item.editing == 1) {
            isExist = true;
            that.$message({
              type: 'info',
              message: '目前存在正在增加或者编辑的记录，请先去保存'
            });
            return
          }
        });
        if (!isExist) {
          this.tableData1.unshift({
            date: '',
            name: '',
            address: '',
            editing: 1
          });
        }
      },
      cancelEdit: function (item, index) {
        if (item.history) {
          /*用于区分是取消增加，还是取消编辑*/
          var history = item.history;
          for (var key in item) {
            item[key] = history[key];
          }
          item.editing = 0;
        } else {
          this.tableData1.splice(index, 1);
        }
      },
      saveEdit: function () {
        var that = this;
        var isValid = true;
        for (var key in that.tableData1[0]) {
          that.tableColumns.forEach(function (item) {
            var falg = true;
            if (item.id == key) {
              falg = that.verify1(that.tableData1[0][key], item);
            }
            if (!falg) {
              isValid = false
              return;
            }
          });
        }
        if (isValid) {
          that.tableData1[0].editing = 0;
          //进行保存到服务器上面
        }
      },
      verify1: function (value, item) {
        var that = this;
        if (item.required && !value) {
          that.$message({
            type: 'info',
            message: '【' + item.name + '】字段不能为空'
          });
          return false;
        }
        if (value && item.regularExpression) {
          var valiError = true;
          that.rules.forEach(function (ruleItem) {
            if (ruleItem.id == item.regularExpression) {
              var reg = eval(ruleItem.regexp);
              if (!reg.test(value)) {
                that.$message({
                  type: 'info',
                  message: ruleItem.tip
                });
                valiError = false;
                return;
              }
            }
          });
          return valiError;
        }
        return true;
      }
    },
  });
</script>

</html>